// var defaults
@defaultColor: #ef4051;
@whiteColor: #ffffff;
@happyColor: #0cb1f0;
@orangeDefault: #f7931e;
@secundaryColor: #ef4051;
@linkMenuHeader: #757474;
@linkSize: 1.125rem;
@backgroundDefault: #f8f8f8;
@fontWeight: normal;
@weightBold: 600;
@labelText: 1.125rem;
@labelColor: 999999;
@menuParent: 1.375rem;
@menuChildren: 1.063rem;
@menuWeight: 700;
@tableItem: 1rem;
@inputText: 1.375rem;
@displayDefault: flex;
@green:#00B563;
h1 {
    font-size: 100%;
}

// default fonts 
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    
}
app-header {
  z-index: 2000;
  position: relative;
  width: 100%;
  display: block;
}
.loading-crud {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    background: #fff;
    z-index: 600;
    left: 0;
    text-align: center;
    padding: 5% 5% 6%;
    font-size: 1.625rem;
    top: 0;
    color: @orangeDefault;
}
.breadcrumb-total {
    width: 100%;
    position: relative;
    float: left;
    margin: 1% 0;
}

.search-button .buttonType {
    font-size: 1rem;
    color: @defaultColor;
    margin: 0;
    border: none;
    float: right;
    background: transparent;
}

.search-button .buttonType img {
    margin-top: 1px;
    float: right;
    margin-left: 13px;
}
.settings-general {
    height: 100%;
}
.titlePage {
    display: table;
    float: left;
    h1 {
        color: @defaultColor;
        font-size: 1.375rem;
        padding-bottom: 0px;
        margin: 0px;
        display: table;
        a {
            color: @defaultColor;
        }
    }
    @media (max-width: 991px) {
        margin-bottom: 0px;
    }
}



.searchCrud {
    @media (max-width: 1440px) {
        width: 70%;
        right: 0%;
    }
    @media (max-width: 991px) {
        width: 100%;
        right: 0px;
        top: auto;
        left: 0px;
        position: relative;
    }
    position: relative;
    width: 45%;
    float: right;
    top: 0;
    border-radius: 30px;
    right: 0;
    background-color: #fff;
    padding: 10px 27px;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.07);
    -moz-box-shadow : 0px 5px 9px 0px rgba(50, 50, 50, 0.07);
    box-shadow : 0px 5px 9px 0px rgba(50, 50, 50, 0.07);
    input {
        border: none;
        color: #999999;
        font-style: italic;
        height: 33px;
        margin: 0px 0 0px 0;
        &:focus {
            box-shadow: none;
            border: none;
        }
    }
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


/* START TOOLTIP STYLES */

[tooltip] {
    position: relative;
    /* opinion 1 */
}


/* Applies to all tooltips */

[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: .9em;
    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    /* opinion 4 */
    z-index: 1001;
    /* absurdity 1 */
}

[tooltip]::after {
    content: attr(tooltip);
    /* magic! */
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;
    /* 
      Let the content set the size of the tooltips 
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: 2px;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
    /* absurdity 2 */
}


/* Make the tooltips respond to hover */

[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}


/* don't show empty tooltips */

[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}


/* FLOW: UP */

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}


/* FLOW: DOWN */

[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}


/* FLOW: LEFT */

[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}

[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}


/* FLOW: RIGHT */

[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}

[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}


/* KEYFRAMES */

@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}


/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}

.fullComponent {
    background-color: @backgroundDefault;
    width: 100%;
    display: block;
   
    position: relative;
    float: left;
    height: 100%;
    min-height: max-content;
    @media (max-width: 991px) {
       
    }
    
}
app-menu{
    width: 20%;
    float: left;
    position: relative;
    min-height: max-content;
    height: 100%;
    background-color: @defaultColor;
    @media (max-width:991px) {
        height: initial;
    }
}

.loadingPage {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 1100;
    top: 0;
    left: 0;
    color: @orangeDefault;
    font-size: 1.625rem;
    font-weight: 600;
    padding: 10% 0;
    text-align: center;
    background: @backgroundDefault;
}
.meepUi-body {
    padding: 20px 0.5% 20px;
    width: 80%;
    top: 80px;
    opacity: 1;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    position: relative;
    float: left;
    .switch label input[type=checkbox]:checked + .lever {
        background-color:  @green!important;
    }
    
    @media (max-width: 1440px) {
        padding: 20px 1% 20px;
        width: 80%;
    }
    @media (max-width:1280px) {
        padding: 20px 10px;
        width: 80%;
    }
    @media (max-width: 991px) {
        padding: 20px 1%;
        width: 100%;
    }
    @media (max-width: 420px) {
        padding: 20px 2%;
    }
    .datepicker__input {
        font-size: 18px;
    }
}
.newCrud {
    font-size: 1rem;
    color: @defaultColor;
    margin: 0;
    float: right;
    img {
        margin-top: -7px;
        float: right;
        margin-left: 9px;
    }
}

.meepUi-container {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: @displayDefault;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    @media (max-width: 991px) {
        flex-direction: column;
    }
}


nav {
    background-color: transparent;
    box-shadow: none;
    height: 0px;
    .breadcrumb {
        color: @linkMenuHeader;
        strong {
            font-weight: 700;
        }
        &:before {
            font-weight: normal;
            color: @linkMenuHeader;
        }
    }
}

.body-table {
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    background-color: @whiteColor;
    position: relative;
    padding: 14px 30px 30px;
    margin-top: 0;
    @media (max-width: 1440px) {
        padding: 14px 20px 20px;
    }
    @media (max-width: 991px) {
        padding: 14px 10px 30px;
        margin-top: 5%;
    }
}

.generalTable {
    label {
        font-size: 0.75rem;
        color: @linkMenuHeader;
        display: block;
    }
    .labelDevices {
        display: flex;
    }
    @media (max-width: 991px) {
        overflow-x: scroll;
    }
    .striped {
        thead {
            border: none;
            th {
                padding-left: 20px;
            }
        }
        .btn {
            background-color: transparent;
            box-shadow: none;
        }
        th {
            color: @linkMenuHeader;
            font-size: 1rem;
        }
        tbody {
            text-transform: capitalize;
            tr {
                background-color: #f6f7fa;
                border-bottom: 6px solid #FFF;
                text-transform: capitalize;
            }
            td {
                .text-left,
                .text-center,
                .text-right {
                    color: @linkMenuHeader;
                    text-transform: capitalize;
                }
                padding-left: 20px;
            }
        }
        @media (max-width: 1440px) {
            th {
                font-size: 1rem;
            }
        }
        .btn-edit {
            border: 1px solid #0cb1f0;
            border-radius: 2px;
            text-transform: initial;
            color: #0cb1f0;
            padding: 0 0.6rem;
            &:hover {
                background-color: #0cb1f0;
                color: @whiteColor;
            }
        }
        .btn-delete {
            border: 1px solid @defaultColor;
            border-radius: 2px;
            color: @defaultColor;
            padding: 0 0.5rem;
            &:hover {
                background-color: @defaultColor;
                color: @whiteColor;
            }
        }
        .btn-detail {
            border: 1px solid @happyColor;
            border-radius: 2px;
            color: @happyColor;
            padding: 0 0.5rem;
        }
    }
}

.label-status {
    font-size: 1.125rem;
}

.percentage-input {
    label {
        font-size: 1.125rem;
    }
    
    input[type=text].valid:not(.browser-default) {
        border-bottom: 1px solid @orangeDefault;
        box-shadow: 0 1px 0 0 @orangeDefault;
        font-size: 1.375rem;
    }
    input[type=text]:not(.browser-default):focus:not([readonly]) {
        border-bottom: 1px solid @orangeDefault;
        box-shadow: 0 1px 0 0 @orangeDefault;
        color: @orangeDefault;
    }
    input[type=text]:not(.browser-default):focus:not([readonly])+label {
        color: @orangeDefault;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px @defaultColor inset;
        color: #444;
        font-weight: bold;
    }
}

// form CRUDS
.formCrud {
    position: relative;
    padding: 10px 0px 0px;
    label {
        font-size: 1.125rem;
    }
    @media (max-width: 991px) {
        .picker__box {
            .picker__date-display {
                .picker__weekday-display {
                    display: block;
                    background-color: #f7931e!important;
                }
            }
        }
    }
    input:not([type]):focus:not([readonly]),
    input[type=text]:not(.browser-default):focus:not([readonly]),
    input[type=password]:not(.browser-default):focus:not([readonly]),
    input[type=email]:not(.browser-default):focus:not([readonly]),
    input[type=url]:not(.browser-default):focus:not([readonly]),
    input[type=time]:not(.browser-default):focus:not([readonly]),
    input[type=date]:not(.browser-default):focus:not([readonly]),
    input[type=datetime]:not(.browser-default):focus:not([readonly]),
    input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
    input[type=tel]:not(.browser-default):focus:not([readonly]),
    input[type=number]:not(.browser-default):focus:not([readonly]),
    input[type=search]:not(.browser-default):focus:not([readonly]),
    textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid @orangeDefault;
        box-shadow: 0 1px 0 0 @orangeDefault;
        font-size: 1.125rem;
    }
    .labelInput {
        font-size: 1.125rem;
        width: 100%;
        padding: 0px;
        margin-bottom: 10px;
    }
    .dropdown-content {
        li {
            span {
                font-size: 1.375rem;
                color: @orangeDefault;
                display: block;
                line-height: 22px;
                padding: 14px 16px;
            }
        }
    }
    .boxRegister {
        background-color: @orangeDefault;
        width: 66px;
        height: 76px;
        padding: 11px;
        position: relative;
        margin-bottom: 25px;
        margin-left: 0.75rem;
        z-index: 600;
        top: 0;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
    input[type=text].valid:not(.browser-default) {
        border-bottom: 1px solid @orangeDefault;
        box-shadow: 0 1px 0 0 @orangeDefault;
        font-size: 1.375rem;
    }
    input[type=text]:not(.browser-default):focus:not([readonly]) {
        border-bottom: 1px solid @orangeDefault;
        box-shadow: 0 1px 0 0 @orangeDefault;
        color: @orangeDefault;
    }
    input[type=text]:not(.browser-default):focus:not([readonly])+label {
        color: @orangeDefault;
    }
    [type="radio"]:checked+label:after,
    [type="radio"].with-gap:checked+label:before,
    [type="radio"].with-gap:checked+label:after {
        border: 2px solid @orangeDefault;
    }
    [type="radio"]:checked+label:after,
    [type="radio"].with-gap:checked+label:after {
        background-color: @orangeDefault;
    }
    .btn-upload-image {
        background-color: #f5f5f5;
        color: @orangeDefault;
        font-weight: @weightBold;
    }
    .btn-save {
        background-color: #03a9f4;
        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }
        -webkit-box-shadow: 0px 0px 11px 0px rgba(3, 169, 244, 0.2);
        -moz-box-shadow : 0px 0px 11px 0px rgba(3, 169, 244, 0.2);
        box-shadow : 0px 0px 11px 0px rgba(3, 169, 244, 0.2);
    }
    .btn-cancel {
        background-color: @orangeDefault;
        -webkit-box-shadow: 0px 0px 11px 0px rgba(247, 147, 30, 0.4);
        -moz-box-shadow: 0px 0px 11px 0px rgba(247, 147, 30, 0.4);
        box-shadow: 0px 0px 11px 0px rgba(247, 147, 30, 0.4);
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0px 1000px @defaultColor inset;
        color: #444;
        font-weight: bold;
    }
}