.user-register {
    width: 100%;
    float: left;
}
.user-register h3{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(214, 100, 48);
}
.user-register .registerUser{
    background-color: rgb(48, 214, 214);
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.063rem;
    font-weight: 500;
    margin: 15px 0;
    padding: 10px 32px;
    float: left;
}
.user-register .cancelRegister{
    background-color: rgb(214, 100, 48);
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.063rem;
    font-weight: 500;
    margin: 15px 5px 0;
    padding: 10px 32px;
    float: left;
}
.cancelUser{
    background-color: rgb(214, 100, 48);
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.063rem;
    font-weight: 500;
    margin: 15px 14px 0;
    padding: 10px 32px;
    float: left;
}
.user-exist{
    width: 100%;
    float: left;
}
.user-exist h3{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 0;
    color: rgb(48, 214, 214);
}
.user-exist .linkUser{
    background-color: rgb(48, 214, 214);
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.063rem;
    font-weight: 500;
    margin: 15px 0;
    padding: 10px 32px;
    float: left;
}
.user-register .editUser{
    background-color: rgb(223, 177, 79);
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.063rem;
    font-weight: 500;
    margin: 15px 5px 0;
    padding: 10px 32px;
    float: left;
}
.buttonClass {
    float: left;
    margin-right: 0;
    width: 40%;
}
.inputsForm {
    float: left;
    width: 100%;
    position: relative;
    padding-top: 10px;
    border-top: 1px #ddd solid;
}
.cepClass {
    position: relative;
    float: left;
    width: 100%;
}
.form-info {
    width: 97%;
    position: relative;
    padding: 0 0 0 13px;
    float: left;
}
.cpf {
    width: 70%;
    position: relative;
    padding: 12px;
    margin: 0 0 13px;
    border: 1px solid #ddd;
    border-radius: 3px;
    float: none;
    display: block;
}
.form-info .form-full{
    width: 96%;
    position: relative;
    padding: 12px;
    margin: 0 0 13px;
    border: 1px solid #ddd;
    border-radius: 3px;
    float: none;
    display: block;
}
.form-info .form-one{
    width: 10%;
    padding: 12px;
    border: 1px solid #ddd;
    margin: 0px 5px 20px 0px;
    border-radius: 3px;
    float: left;
}
.form-info .form-half{
    width: 44%;
    padding: 12px;
    border: 1px solid #ddd;
    margin: 0px 5px 20px 0px;
    border-radius: 3px;
    float: left;
}

.form-info .form-middle{
    width: 29%;
    padding: 12px;
    border: 1px solid #ddd;
    margin: 0px 5px 20px 0px;
    border-radius: 3px;
    float: left;
}

.tituloCPF {
    font-size: 19px;
    margin-bottom: 10px;
    float: left;
    color: #444;
    display: block;
    width: 100%;
}
.searchCep {
    background: #ddd;
    position: absolute;
    z-index: 400;
    right: 0px;
    top: 0px;
    float: right;
    padding: 12px;
    border: 1px solid #ddd;
}
.search-cpf {
    float: right;
    right: 0px;
    font-size: 1.063rem;
    font-weight: 500;
    border: none;
    position: absolute;
    color: #fff;
    margin-bottom: 20px;
    background: rgb(57, 120, 172);
    top: 37px;
    z-index: 8;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 12px 32px;
}
.saveInfo {
    background-color: rgb(48, 133, 214);
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.063rem;
    font-weight: 500;
    margin: 15px 5px 0;
    padding: 10px 32px;
    float: right;
}
.saveInfo:focus{
    -webkit-box-shadow: 0 0 0 2px #f2f4f6, 0 0 0 4px #a7adb2;
    box-shadow: 0 0 0 2px #f2f4f6, 0 0 0 4px #a7adb2;
    outline: none;
}
.cancelInfo {
    background-color: rgb(221, 51, 51);
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.063rem;
    font-weight: 500;
    margin: 15px 0 0;
    padding: 10px 32px;
    float: right;
}
.cancelInfo:focus{
    -webkit-box-shadow: 0 0 0 2px #f2f4f6, 0 0 0 4px #a7adb2;
    box-shadow: 0 0 0 2px #f2f4f6, 0 0 0 4px #a7adb2;
    outline: none;
}
.itemListAdd{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 0 15px;
    margin-bottom: 3px;
    display: block;
    width: 100%;
    float: left;
}
.content-resume {
    width: 100%;
    height: 100%;
    position: relative;
   
}


.deleteTax {
    color: #f84675;
    font-size: 2.5rem;
    cursor: pointer;
    border: none;
    padding: 0px;
    float: right;
    text-align: center;
    background: transparent;
}
.content-products{
    background: #fff;
    border-radius: 4px;
    height: 100%;
    position: relative;
    display: block;
    max-height: 100%;
    margin: 0px auto;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
.title-list {
    font-size: 1.563rem;
    color: #686d85;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    font-weight: 700;
    margin: 0;
    font-size: 1.563rem;
    color: #686d85;
    font-weight: 700;
    background: #fff;
    margin: 0px;
    padding: 20px 10px;
}
.back-button {
    border: none;
    background: transparent;
}
.back-button a{
    font-size: 1.625rem;
    color: #686d85;
}
.body-list {
    float: left;
    background: #fff;
    width: 100%;
    height: 85%;
    max-height: 85%;
    display: block;
}
.quant{
    text-align: center;
    font-size: 1.375rem;
    color: #1488df;
    font-weight: 700;
    padding: 15px;
    float: left;
}
.product-name, .product-qtd-value, .product-value, .product-description, .deleteTax{
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-name{
    color: #1488df;
    font-size: 1.125rem;
    padding: 0px 10px;
    font-weight: 700;
    float: left;
}
.product-name h5{
    font-size: 0.875rem;
    color: #a6a6a6;
    font-weight: normal;
    margin: 0px;

}
.product-value{
    padding: 0px 10px;
    color: #f25c1f;
    font-size: 1.125rem;
    float: right;
}
.product-qtd-value{
    padding: 0px 10px;
    color: #f25c1f;
    font-size: 1.125rem;
    float: right;
}
.product-qtd-value h5{
    font-size: 0.875rem;
    color: #a6a6a6;
    margin: 0px;
    font-weight: normal;
}
.product-value h5{
    font-size: 0.875rem;
    color: #a6a6a6;
    font-weight: normal;
    margin: 0px;
}
.partial:hover, .total-pay:hover {
    opacity: 0.7;
}
.payment-item {
    padding: 10px 0px;
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0px;
    background: #f8f8f8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow:    0px -2px 7px 0px rgba(0, 0, 0, 0.11);
    box-shadow:         0px -2px 7px 0px rgba(0, 0, 0, 0.11);
}
.payment-item hr {
    border: 1px solid #E9E9E9;
}
.sub-total {
    width: 100%;
    float: left;
    padding: 0 10px;
}
.sub-total h2{
    color: #a5a5a5;
    font-size: 1.125rem;
    margin: 5px 0;
    font-weight: 600;
    float: left;
}
.sub-total h3{
    font-size: 1.125rem;
    color: #f37142;
    font-weight: 600;
    float: right;
    margin: 5px 0;   
}

.servico {
    width: 100%;
    float: left;
    padding: 0 10px;
    
}
.servico h2{
    font-size: 0.9375rem;
    color: #a5a5a5;
    float: left;
    margin: 5px 0;
    font-weight: 400;
}
.servico h3{
    font-size: 0.9375rem;
    color: #a5a5a5;
    font-weight: 600;
    float: right;
    margin: 5px 0;
}
.total {
    width: 100%;
    float: left;
    padding: 0 10px;
}
.total h2{
    color: #a5a5a5;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 5px 0;
    text-transform: uppercase;
    float: left;
}
.total h3{
    color: #00a99d;
    font-size: 1.125rem;
    font-weight: 900;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
}
.button-payment {
    margin-top: 10px;
    padding: 0px 10px;
    float: left;
    width: 100%;
}
.partial {
    font-size: 1.25rem;
    background: #1488df;
    text-transform: uppercase;
    height: 72px;
    border: none;
    width: 236px;
    text-align: center;
    color: #fff;
}

.total-pay {
    font-size: 1.25rem;
    background: #00a99d;
    text-transform: uppercase;
    height: 70px;
    border: none;
    float: right;
    width: 236px;
    text-align: center;
    color: #fff;
}
.close-pay {
    font-size: 1.25rem;
    background: #A92200;
    text-transform: uppercase;
    height: 72px;
    border: none;
    float: right;
    width: 236px;
    text-align: center;
    color: #fff;
}
.input-value {
    font-size: 1.125rem;
    background: transparent;
    text-transform: uppercase;
    height: 65px;
    color: #1488df;
    border: #1488df 1px solid;
    float: left;
    padding: 0 10px;
    width: auto;
    text-align: center;
}

.product-description {
    padding: 10px;
    color: #f25c1f;
    font-size: 1.125rem;    
    margin-left: 10px;
    float: left;
    height: 100%;
    display: block;
}
.descriptionBtn {
    background: transparent;
    font-size: 1.250rem;
    border: none;
    text-align: center;
}
@media screen and (min-width: 1600px) {    
    
    .content-products {
        width: 40%;
    }
    .content-resume {
        padding: 1% 0%;
    }
}

@media screen and (max-width: 1599px) {
    .content-resume {
        padding: 1% 0;
    }
    .content-products{
        width: 50%;
    }
    
}
@media screen and (max-width: 1440px) {
    .form-info{
        width: 96%;
        padding: 0 0 0 8px;
    }
    .searchCep{
        right: -5px;
    }
}

@media screen and (max-width: 1024px) {
    
    .content-products {
        width: 80%;
    }
}
@media screen and (max-width: 991px) {
    .content-resume {
        padding: 1%;
    }
    .cpf {
        width: 60%;
    }
    .user-register .registerUser {
        float: none;
        margin: 0px auto;
    }
    .user-register .editUser {
        float: none;
        margin: 0px auto 10px;
    }
    .user-register .cancelRegister{
        float: none;
        margin: 0px auto;
    }
    .body-list{
        max-height: none;
        max-height: auto;
        padding: 5% 0; 
    }
    .form-info .form-one{
        width: 90%;
    }
    .form-info .form-half{
        width: 90%;
    }
    .form-info .form-full{
        width: 90%
    }
    .form-info .form-middle{
        width: 90%;
    }
    .content-products {
        width: 80%;
    }
    .product-value{
        margin-top: 0px
    }
    .product-qtd-value{
        margin-top: 0px
    }
    .title-list {
        font-size: 1.125rem;
        padding: 10px;
    }
    .product-name {
        width: 23%;
        font-size: 1rem;
    }  
    .input-value {
        width: 50%;
        margin-bottom: 10px;
    }  
    .total-pay, .close-pay {
        width: 45%;
        margin-bottom: 10px;
    }
    
}
@media screen and (max-width: 640px){
    
    .user-register .registerUser {
        float: none;
        margin: 0px auto;
    }
    .user-register .editUser {
        float: none;
        margin: 0px auto 10px;
    }
    .user-register .cancelRegister{
        float: none;
        margin: 0px auto;
    }
    .content-products {
        width: 100%;
        height: 100%;
    }
    .itemListAdd {
        float: left;
        padding: 5px;
    }
    .product-name {
        font-size: 1rem;
    } 
    .quant{
        padding: 5px;
    }
    .input-value, .total-pay {
        width: 48%;
        font-size:  0.875rem;
        margin-bottom: 10px;
    }
    .product-value {
        padding: 0px 5px;
        font-size: 1rem;
    }
    .product-qtd-value{
        padding: 0px 5px;
        font-size: 1rem;
    }

}
@media screen and (max-width: 375px){
    .form-info {
        padding: 0 0 0 5px;
    }
    .search-cpf {
        padding: 14px;
        font-size: 0.875rem;
    }
    
    .product-name {
        width: 23%;
        font-size: 1rem;
    } 
    .total-pay, .close-pay {
        font-size:  0.875rem;
    }
    
}
@media screen and (max-width: 340px){
  
}