<div class="content-resume">
  <div class="content-products">
    <h2 class="title-list">
      Deseja vincular venda ao cliente?
    </h2>
    <div class="body-list">
      <form class="form-info">
        <label class="tituloCPF">Insira seu CPF</label>
        <!-- <input class="cpf" type="text" id="cpf" [(ngModel)]="userInfo.cpf" [ngModelOptions]="{standalone: true}"  [textMask]="{mask: maskCpf}" placeholder="CPF"> -->
        <input class="cpf" type="text" id="cpf" [(ngModel)]="userInfo.cpf"  [ngModelOptions]="{standalone: true}"  [textMask]="{mask: maskCpf}" placeholder="CPF" required>
        <button class="search-cpf" (click)="searchCPF()">Buscar CPF</button>


        <div class="inputsForm" *ngIf="edit">
          <input class="form-full" type="text" id="name" placeholder="Nome" [(ngModel)]="userInfo.nome" [ngModelOptions]="{standalone: true}" required>
          <input class="form-full" type="email" id="email" placeholder="Email" [(ngModel)]="userInfo.email" [ngModelOptions]="{standalone: true}" required>
          <input class="form-full" type="text" id="rg" placeholder="RG" [(ngModel)]="userInfo.rg" [ngModelOptions]="{standalone: true}" required>
          <div class="cepClass">
            <button class="searchCep" (click)="searchCepUser()">
              <i class="icon-search-1"></i>
            </button>
            <!-- <input class="form-full" type="text" id="cep" placeholder="CEP" [(ngModel)]="userInfo.cep" [textMask]="{mask: maskCEP}" [ngModelOptions]="{standalone: true}"> -->
            <input class="form-full" type="text" id="cep" placeholder="CEP" [(ngModel)]="userInfo.endereco.cep" [ngModelOptions]="{standalone: true}" required>
          </div>
          <input class="form-half" type="text" id="bairro" placeholder="Bairro" [(ngModel)]="userInfo.endereco.bairro" [ngModelOptions]="{standalone: true}" required>
          <input class="form-half" type="text" id="logradouro" placeholder="Rua" [(ngModel)]="userInfo.endereco.logradouro" [ngModelOptions]="{standalone: true}" required>
          <input class="form-one" type="text" id="estado" placeholder="Estado" maxlength="2" [(ngModel)]="userInfo.endereco.estadoUF" [ngModelOptions]="{standalone: true}" required>
          
          <select class="form-middle" [(ngModel)]="userInfo.endereco.cidadeId" [ngModelOptions]="{standalone: true}">
            <option value="0">Selecione a cidade</option>
            <option *ngFor="let city of cities" [ngValue]="city.id">{{city.nome}}</option>
          </select>
          <input class="form-one" type="text" id="ddd" placeholder="DDD" [(ngModel)]="userInfo.ddd" maxlength="2"  [ngModelOptions]="{standalone: true}" required>
          <input class="form-middle" type="text" id="telefone" placeholder="Telefone" [(ngModel)]="userInfo.telefone" [textMask]="{mask: maskPhone}" [ngModelOptions]="{standalone: true}" required>
          <input class="form-full" type="text" id="complemento" placeholder="Complemento" [(ngModel)]="userInfo.endereco.complemento" [ngModelOptions]="{standalone: true}" required>
          
        </div><!-- inputsForm-->


        <div class="user-register" *ngIf="!exists">
            <h3>Cpf não encontrado</h3>
            <button class="registerUser" (click)="saveInfos()">
              Cadastrar e vincular
            </button>
            <button class="cancelRegister" (click)="cancelInfos()">
                cancelar
            </button>
        </div>
        <div class="user-register" *ngIf="linkUser">
          <h3>Cpf encontrado!</h3>
          <button class="registerUser" (click)="saveInfos()">
            Vincular
          </button>
          <button class="editUser" (click)="editUser()">
            Editar
          </button>
          <!-- <button class="cancelRegister" (click)="cancelInfos()">
            cancelar
          </button> -->
        </div>
      </form>
      <button class="cancelUser" (click)="cancelInfos()">
        Não vincular
      </button>
    </div>
  </div>
</div>


<!-- <div class="content-resume">
  <div class="content-products">
    <h2 class="title-list">
      Vincular usuário
    </h2>
    <div class="body-list">
      <form id="form" class="topBefore">
        <input id="cpf" type="text" placeholder="CPF">
        <button class="searchCpf">
          <i class="icon-search"></i>
        </button>
        <input id="name" type="text" placeholder="Nome">
        <input id="email" type="text" placeholder="Email">
        <input id="rg" type="text" placeholder="RG">
        <input id="cep" type="text" placeholder="CEP" [(ngModel)]="userInfo.cep" [ngModelOptions]="{standalone: true}">
        <button class="searchCep" (click)="searchCepUser()">
          <i class="icon-search-1"></i>
        </button>
        <input id="bairro" type="text" placeholder="Bairro" [(ngModel)]="userInfo.bairro" [ngModelOptions]="{standalone: true}">
        <input id="logradouro" type="text" placeholder="Rua" [(ngModel)]="userInfo.rua" [ngModelOptions]="{standalone: true}">
        <select class="form-middle" [(ngModel)]="userInfo.cidade" [ngModelOptions]="{standalone: true}" >
            <option *ngFor="let city of cities" [ngValue]="city.id">{{city.nome}}</option>
        </select>
        <input id="estado" type="text" placeholder="Estado" [(ngModel)]="userInfo.estado" [ngModelOptions]="{standalone: true}">
        <input id="ddd" type="text" placeholder="DDD" [(ngModel)]="userInfo.ddd" [ngModelOptions]="{standalone: true}">
        <input id="telefone" type="text" placeholder="Telefone" [(ngModel)]="userInfo.telefone" [ngModelOptions]="{standalone: true}">
        <input id="complemento" type="text" placeholder="Complemento" [(ngModel)]="userInfo.complemento" [ngModelOptions]="{standalone: true}">
        <div class="button-payment">

          <div>
            <button type="button" name="action" class="total-pay">Salvar</button>
          </div>
          <div>
            <button type="button" name="action" class="close-pay">Cancelar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div> -->