@import "/../app.component.css";
.category-component {
    float: left;
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.category-component .tax-services {
    background-color: #f25c1f;
    width: 100%;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 80px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: 1;
    min-width: 160px;
    text-align: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
}
.category-component .tax .card-products {
    border: 2px solid #f25c1f;
}
.list-to-order {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
}
.list-to-order li {
    list-style: none;
    width: 25%;
    cursor: pointer;
    padding-right: 0.5%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    float: left;
}
.list-to-order li .card-products:active {
    background: #000000;
}

.list-to-order li .card-products {
    height: 130px;
    background: #fff;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    padding: 10px 15px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.55);
    -moz-box-shadow:    0px 2px 7px 0px rgba(0, 0, 0, 0.55);
    box-shadow:         0px 2px 7px 0px rgba(0, 0, 0, 0.55);
}
.list-to-order li .card-products h2{
    font-size: 1rem;
    font-weight: 400;
    color: #686d85;
    margin: 5px 0;
    text-align: center;
}
.list-to-order li .card-products h3{
    font-size: 1rem;
    font-weight: 400;
    margin: 5px 0;
    color: #f25c1f;
    text-align: center;
}

.list-to-order li .card-products h4 {
    display: none;
}
@media screen and (max-width: 991px) {
    .list-to-order{
        margin-top: 20px;
    }
    .list-to-order li {
        width: 47%;
        margin: 2px;
    }
    .category-component {
        margin-bottom: 10px;
    }
    .list-to-order li .card-products h4{
        display: block;
        font-size: 0.875rem;
        color: rgba(0, 0, 0, 0.55);
        margin-left: 10px;
        margin-bottom: 0px;
        bottom: 10px;
        position: relative;
    }
    
}
@media screen and (max-width:1280px)  {
    .list-to-order li .card-products {
        padding: 10px;
    }
}

@media screen and (max-width: 640px)  {
    .list-to-order li .card-products {
        padding: 10px;
        height: 150px;
    }
}
.container-send {
    position: absolute;
    bottom: 9px;
    width: 100%;
    border-top: 2px solid #fff;
    padding-top: 10px;
}
.searchProducts {
    font-size: 1.125rem;
    background: #fff;
    height: 72px;
    float: right;
    width: 350px;
    border-radius: 0px;
    text-align: left;
    border: none;
    color: #f26522;
    margin-right: 9px;
    padding: 0 20px;
}
.send-order {
    font-size: 1rem;
    background: #fff;
    text-transform: uppercase;
    height: 72px;
    border: none;
    float: left;
    width: 236px;
    text-align: center;
    color: #f26522;
}
.send-order:active{
    background: #f26522;
    color: #fff;
}
.exit {
    font-size: 1.375rem;
    text-transform: uppercase;
    height: 72px;
    border: none;
    background: transparent;
    float: right;
    position: relative;
    width: 70px;
    text-align: center;
    color: #f26522;
    right: 20px;
}
.exit:active{
    background: transparent;
    color: #f26522;
}

@media screen and (max-width: 991px) {
    .container-send {
        position: relative;
        float: left;
        height: 100%;
        overflow: hidden;
    }
    .send-order {
        float: left;
        margin: 0px auto;
        display: block;
        width: 100%;
    }
    .searchProducts {
        max-width: 100%;
        margin: 20px 0;
        width: 100%;
        display: inline-block;
        float: none;
        position: relative;
    }
    
}
@media screen and (max-width: 380px) {
    .product-name{
        word-wrap: break-word;
        display: table;
        width: 20%;
    }
}
