@import "/../app.component.css";
@import "/../home.component.css";
.title-list {
    font-size: 1.563rem;
    color: #686d85;
    font-weight: 700;
    margin: 22px 10px;
}

.back-button {
    border: none;
    background: transparent;
}
.back-button a{
    font-size: 1.625rem;
    color: #686d85;
}
.body-list {
    max-height: 60%;
    height: 60%;
    overflow-y: scroll;
}
.product-qtd-value h5{
    font-size: 0.875rem;
    color: #a6a6a6;
    margin: 0px;
    font-weight: normal;

}
.product-value h5{
    font-size: 0.875rem;
    color: #a6a6a6;
    font-weight: normal;
    margin: 0px;

}
.menssageEmpty h5{
    font-size: 1.125rem;
    margin-left: 10px;
    color: #999;
}
.listProductsAdd {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 100%;
}
.listProductsAdd .itemListAdd{
    list-style: none;
    width: 100%;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 0px;
    margin-bottom: 3px;
    display: block;
    height: 100%;
    float: left;    
    position: relative;
}
.noQuantity {
    padding: 60% 6%;
}
.quant{
    float: left;
    text-align: center;
    font-size: 1.25rem;
    color: #1488df;
    font-weight: 700;
}
.quant button{
    border: 0px;
    float: left;
    background: transparent;
    font-size: 1.625rem;
    color: #1488df;
    cursor: pointer;
}
.quant button:focus{
    outline:none;
}
.product-name{
    color: #1488df;
    font-size: 1.125rem;
    padding: 0px 10px;
    float: left;
    margin-top: 20px;
    font-weight: 700;
}
.product-name h5{
    font-size: 0.875rem;
    color: #a6a6a6;
    font-weight: normal;
    margin: 0px;

}
.product-value{
    padding: 0px 10px;
    color: #f25c1f;
    font-size: 1.125rem;
    margin-top: 20px;
    float: left;
}
.product-qtd-value{
    padding: 0px 10px;
    color: #f25c1f;
    font-size: 1.125rem;
    margin-top: 20px;
    float: left;
}
.product-delete{
    float: right;
    margin-top: 18px;
}

.product-delete button{
    color: #f84675;
    font-size: 2.5rem;
    cursor: pointer;
    border: none;
    padding: 0px;
    background: transparent;
}
.product-delete button:focus{
    outline: none;
}
.product-description {
    padding: 10px;
    color: #f25c1f;
    font-size: 1.125rem;
    margin-top: 20px;
    margin-left:0px;
    float: left;
    height: 100%;
    display: block;
}
.descriptionBtn {
    background: transparent;
    font-size: 1.250rem;
    border: none;
    text-align: center;
}
@import "/../app.component.css";
.partial:hover, .total-pay:hover {
    opacity: 0.7;
}
.payment-item {
    padding: 10px 0px;
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0px;
    background: #f8f8f8;
    border-radius: 4px;
    -webkit-box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow:    0px -2px 7px 0px rgba(0, 0, 0, 0.11);
    box-shadow:         0px -2px 7px 0px rgba(0, 0, 0, 0.11);
}
.payment-item hr {
    border: 1px solid #E9E9E9;
}
.sub-total {
    width: 100%;
    float: left;
    padding: 0 10px;
}
.sub-total h2{
    color: #a5a5a5;
    font-size: 1.125rem;
    margin: 5px 0;
    font-weight: 600;
    float: left;
}
.sub-total h3{
    font-size: 1.125rem;
    color: #f37142;
    font-weight: 600;
    float: right;
    margin: 5px 0;   
}

.servico {
    width: 100%;
    float: left;
    padding: 0 10px;
    
}
.servico h2{
    font-size: 0.9375rem;
    color: #a5a5a5;
    float: left;
    margin: 5px 0;
    font-weight: 400;
}
.servico h3{
    font-size: 0.9375rem;
    color: #a5a5a5;
    font-weight: 600;
    float: right;
    margin: 5px 0;
}
.total {
    width: 100%;
    float: left;
    padding: 0 10px;
}
.total h2{
    color: #a5a5a5;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 5px 0;
    text-transform: uppercase;
    float: left;
}
.total h3{
    color: #00a99d;
    font-size: 1.125rem;
    font-weight: 900;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
}
.button-payment {
    margin-top: 10px;
    padding: 0px 10px;
    float: left;
    width: 100%;
}
.partial {
    font-size: 1.25rem;
    background: #1488df;
    text-transform: uppercase;
    height: 72px;
    border: none;
    width: 236px;
    text-align: center;
    color: #fff;
}
.total-pay {
    font-size: 1.25rem;
    background: #00a99d;
    text-transform: uppercase;
    height: 72px;
    border: none;
    float: right;
    width: 236px;
    text-align: center;
    color: #fff;
}

@media screen and (min-width: 1600px) {    
    .body-list {
        max-height:  60%;
        height:  60%;
    }
}

@media screen and (max-width: 1599px) {    
    .body-list {
        max-height: 60%;
    }
}
@media screen and (max-width: 1440px) {    
    .body-list {
        max-height: 60%;
        height: 60%;
    }
}


@media screen and (max-width: 1024px) {
    .partial, .total-pay {
        width: 49%;
        margin-bottom: 10px;
        font-size:  0.9375rem;
        height: 65px;
    }
    
}

@media screen and (max-width: 991px) {
    .product-value{
        margin-top: 0px
    }
    .payment-item {
        position: relative;
    }
    .body-list {
        max-height: 700px;
        height: 700px;
    }
    .product-qtd-value{
        margin-top: 0px
    }
    .title-list {
        font-size: 1.125rem;
    }
    .product-name {
        font-size: 1rem;
    }    
    .product-delete {
        margin-right: 48px;
        margin-top: 0px;
    }
    .body-list {
        max-height: 700px;
        height: 700px;
    }
    
}
@media screen and (max-width: 768px) {
    .body-list {
        max-height: 600px;
        height: 600px;
    }
}
@media screen and (max-width: 640px) {    
    .body-list {
        max-height: 270px;
        height: 270px;
    }
    .product-name{
        margin-top: 3px;
        word-wrap: break-word;
        line-height: 19px;
        width: 27%;
    
    }
    .product-value{
        margin-top: 0px;
        font-size: 0.875rem;
    }
    
    .product-qtd-value{
        margin-top: 0px;
        font-size: 0.875rem;
    }
    .product-delete {
        float: right;
        margin-right: 7px;
        margin-top: 25px;
    }
    .product-delete button {
        margin-top: 0px;
        font-size: 1.25rem;
    }
   
    .listProductsAdd .itemListAdd {
            margin-bottom: 2px;
    }
    .quant button {
        font-size: 1.5rem;
    }
    .quant {
        font-size: 1rem;
    }
}
@media screen and (max-width: 360px) {
    .product-name{
        width: 27%;
        margin-top: 8px;
        font-size: 0.875rem;
        line-height: 17px;
    }
    .title-list{
        margin: 11px 10px;
    }
    .listProductsAdd .itemListAdd {
        margin-bottom: 2px;
    }
    .body-list{
        max-height: 200px;
        height: 200px;
    }
    .product-delete{
        margin-right: 0;
        word-wrap: break-word;
        position: absolute;
        right: 0px;
        top: 15px;
    }
    .noQuantity {
        padding: 20% 6%;
    }
}