<h2 class="title-list">
    <!-- <button class="back-button"  type="button">
            <a routerLink="/comandar"><i class="icon-left-open-1"></i></a> 
    </button> -->
    Pedido nº {{orderNumber}}
</h2>
<div class="body-list">
    <ul class="listProductsAdd">
        <li class="itemListAdd" *ngFor="let orderItem of orderItems">
            <div id="product" *ngIf="orderItem.product != undefined">
                <div class="quant">
                    <button type="button" *ngIf="orderItem.product.unitEnum == 1 || orderItem.discount.id"  (click)="addQuantity(orderItem)">
                        <i class="icon-up-open"></i>
                    </button> 
                    <div class="qut-numero" [ngClass]="{'noQuantity': orderItem.product.unitEnum == 2 }" >{{orderItem.quantity}}</div>
                    <button type="button" *ngIf="orderItem.product.unitEnum == 1 || orderItem.discount.id" (click)="removeQuantity(orderItem)" class="qtd" id="qtdDown">
                        <i class="icon-down-open"></i>
                    </button>
                </div>
                <div class="product-name">
                    <h5>Nome</h5>
                    {{orderItem.product.name || orderItem.discount.description}}
                </div>
                <div class="product-value" *ngIf="orderItem.product.id">
                    <h5>Un</h5> R${{ orderItem.product.price.toFixed(2) || orderItem.discount.value.toFixed(2) }}
                </div>
                <div class="product-qtd-value">
                    <h5>total</h5>
                    R${{ orderItem.total.toFixed(2) }}
                </div>
                <div class="product-description" *ngIf="orderItem.product.id">
                    <button type="button" class="descriptionBtn" (click)="addDescription(orderItem)" id="qtdDown">
                        <i class="icon-edit-3"></i>
                    </button>
                </div>
                <div class="product-delete">
                    
                    <button type="button" class="qtd" (click)="removeItem(orderItem)" id="qtdDown">
                        <i class="icon-cancel-1"></i>
                    </button>
                </div>
            </div>
        </li>
      
    </ul>
    
</div>
<div class="payment-item">
    <div class="sub-total">
        <h2>SubTotal</h2>
        <h3>R${{subtotal.toFixed(2)}}</h3>
    </div>
    <div class="servico">
        <h2>Desconto</h2>
        <h3>R${{desconto.toFixed(2)}}</h3>
        
    </div>
    <hr>
    <div class="total">
        <h2>Total</h2>
        <h3>R${{total.toFixed(2)}}</h3>
    </div>
    <div class="button-payment">
        <!-- <button type="button"  [disabled]="orderItems.length == 0" name="action" (click)="orderResumeTotal()" class="total-pay">Pagar</button> -->
        <button type="button"   name="action" (click)="orderResumeTotal()" class="total-pay">Pagar</button>
    </div>
</div>

