<div class="body-table">
  <form materialize class="col s12 formCrud">
    <div class="boxRegister">
      <img class="iconMenu" src="assets/images/register.png" alt="logo pós">
    </div>
    <div class="row">
      <div class="input-field col s12 l6">
        <input id="description" [(ngModel)]="comission.description" [ngModelOptions]="{standalone: true}" type="text" class="validate">
        <label for="description" [ngClass]="{'': comission.description == undefined || comission.description == '', 'active': comission.description != undefined || comission.description != '' }">Descrição da comissão</label>
      </div>
      <div class="input-field col s12 l6">
        <app-percentage-input [(percentage)]="comission.value" ></app-percentage-input>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l6">
        <button (click)="save()" class="btn waves-effect waves-light btn-large btn-save" type="submit" name="action">Salvar alterações</button>
        <a routerLink="/home/comissão" class="btn waves-effect waves-light btn-large btn-cancel" type="button" name="action">Cancelar</a>
      </div>
    </div>
  </form>
</div>