.login-body {
    width: 100%;
    height: 95%;
}

.settings-login{
    font-size: 1.5rem;
    border: none;
    position: absolute;
    right: 2%;
    display: inline-flex;
    top: 2%;
    background: transparent;
    color: #fff;
    cursor: pointer;
    z-index: 6000;
}

@media screen and (max-width: 640px) {
    .settings-login {
        font-size: 2.125rem;
        top: 0px;
    }
}

