<div class="login-body">
  
    <button class="settings-login" type="button" value="Options" (click)="openOptions()">
      <i class="icon-cog-alt"></i>
    </button>
  
  <div class="container-padding">
    <div class="number-container">
      <input id="passwordLogin" value={{pinCode}} type="password" disabled>
      <img src="assets/images/icon/lock.png" width="40">
    </div>
    <div class="key-login">
      <h2>Entre com sua
        <span class="password">senha</span>
      </h2>
      <div class="playground">

        <!-- All you need to play with -->
        <div class="numpad">


          <div class="button" (click)="fillPin(7)" id="7">7</div>
          <div class="button" (click)="fillPin(8)" id="8">8</div>
          <div class="button" (click)="fillPin(9)" id="9">9</div>
          <div class="button" (click)="fillPin(4)" id="4">4</div>
          <div class="button" (click)="fillPin(5)" id="5">5</div>
          <div class="button" (click)="fillPin(6)" id="6">6</div>
          <div class="button" (click)="fillPin(1)" id="1">1</div>
          <div class="button" (click)="fillPin(2)" id="2">2</div>
          <div class="button" (click)="fillPin(3)" id="3">3</div>
          <div class="button" (click)="fillPin(0)" id="0">0</div>
          <div class="button" (click)="removePin()" id="backscpace">
            <i class="icon-cancel-alt"></i>
          </div>
          <div class="button enter" name="action" (click)="signIn()" type="submit" id="enter">Entrar
            <i class="icon-right-open-big"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>