<div class="row">
  <div class="breadcrumb-total">
    <div class="col s12 l6">
      <div class="titlePage">
        <h1>Mapa de comandas/mesas</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 l9">
  </div>
  <div class="col s12 l3">
    <h2 class="newCrud">Nova comanda
      <a routerLink="../comanda">
        <img width="30" src="assets/images/plus.png">
      </a>
    </h2>

  </div>
</div>
<div class="row">
  <div class="col s12 l12">
    <div class="order-maps">
      
      <div [ngClass]="{'order': order.id != undefined, 'order-inactive': order.id == undefined}" *ngFor="let order of activeOrders()"
        (click)="viewDetails(order.id)">
        <h2>{{order.ticketNumber}}</h2>
        <h3>{{order.attendant.name}}</h3>
        <h3>
          <i class="icon-clock"></i> {{timeWithoutOrder(order.products)}} minutos sem pedidos.</h3>
        <h3>R${{order.total.toFixed(2)}}</h3>
      </div>
    </div>
  </div>
</div>