@import "../../../app.component.less";
.order-maps {
    width: 100%;
    height: 100%;
    float: left;
    padding: 2% 0px;
}

.order {
    width: 24%;
    float: left;
    background: #3EAFB8;
    border-radius: 6px;
    padding: 0 1%;
    margin: 5px 10px 5px 0px;
    height: 210px;
    font-size: 1.125rem;
    color: @whiteColor;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    @media (max-width: 1280px) {
        width: 22%;
    }
    @media (max-width: 991px) {
        width: 100%;
        height: 150px;
        padding: 0 2%;
    }
}

.order:hover {
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.4);
}

.order-inactive {
    width: 24%;
    float: left;
    background: rgb(158, 151, 151);
    border-radius: 6px;
    padding: 0 1%;
    height: 210px;
    margin: 5px 10px 5px 0px;
    font-size: 1.125rem;
    color: @whiteColor;
    position: relative;
    @media (max-width: 1280px) {
        width: 22%;
    }
    @media (max-width: 991px) {
        width: 100%;
        height: 150px;
        padding: 0 2%;
    }
}

h2,
h3 {
    font-size: 1.125rem;
    margin: 10px 0px;
    line-height: 22px;
}