@import "../../../../app.component.less";
.labelSwitch {
    position: relative;
}
.choice{
    h2 {
        font-size: 1.125rem;
        color: #9e9e9e;
    }
    position: relative;
    margin: 10px 0 7% 15px;
    .tipoTaxa {
        float: left;
        position: absolute;
    }
}
