<div class="body-table">
  <form materialize class="col s12 formCrud" >
      <div class="boxRegister">
          <img class="iconMenu" src="assets/images/register.png" alt="logo pós">
      </div>
      <div class="row">
        <div class="input-field col s12 l4">
            <input id="descriptionCategory" [(ngModel)]="tax.description" [ngModelOptions]="{standalone: true}" type="text" class="validate">
            <label for="descriptionCategory"[ngClass]="{'': tax.description == undefined || tax.description == '', 'active': tax.description != undefined || tax.description != '' }">Descrição</label>
        </div>
        <div class="input-field col s12 l4">
          <select [(ngModel)]="tax.calcType" [ngModelOptions]="{standalone: true}" materialize="material_select">
            <!-- <select  materialize="material_select"> -->
                <option [ngValue]="1">Valor</option>
                <option [ngValue]="2">Porcentagem</option>
                
          </select>
          <label for="valueCategory">Tipo de cálculo</label>
        </div>
        <div class="input-field col s12 l4">
          <input id="valueCategory" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" [(ngModel)]="tax.value" [ngModelOptions]="{standalone: true}" type="text" class="validate">
          <label for="valueCategory"[ngClass]="{'': tax.value == undefined, 'active': tax.value != undefined}">Valor</label>
        </div>
      </div>
      <div class="choice">
        <h2>Obrigatório?</h2>
        <div class="switch tipoTaxa">
          <label class="labelSwitch">
          Não
          <input type="checkbox" [checked]="tax.required" (click)="required()">
          <span class="lever"></span>
          Sim
          </label>
        </div>
      </div>
      
      <div class="row">
          <div class="col s12 l6">
              <button (click)="save()" class="btn waves-effect waves-light btn-large btn-save" type="submit" name="action">Salvar alterações</button>
              <a routerLink="/home/taxa" class="btn waves-effect waves-light btn-large btn-cancel" type="button" name="action">Cancelar</a>
          </div>
      </div>
  </form>
</div>