
<table class="striped">
        <thead>
            <tr>
                <th class="text-left">Produto</th>
                <th class="center">Categoria</th>
                <th class="text-right">Valor</th>
                <th class="center">Editar</th>
                <th class="center">Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">Heniken</td>
                <td class="center">Cerveja</td>
                <td class="text-right">R$8.50</td>
                <td class="center">
                    <button class="btn btn-edit">
                        <i class="icon-edit"></i>
                    </button>
                </td>
                <td class="center">
                    <button class="btn btn-delete">
                        <i class="icon-trash-8"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-left">Heniken</td>
                <td class="center">Cerveja</td>
                <td class="text-right">R$8.50</td>
                <td class="center">
                    <button class="btn btn-edit">
                        <i class="icon-edit"></i>
                    </button>
                </td>
                <td class="center">
                    <button class="btn btn-delete">
                        <i class="icon-trash-8"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-left">Heniken</td>
                <td class="center">Cerveja</td>
                <td class="text-right">R$8.50</td>
                <td class="center">
                    <button class="btn btn-edit">
                        <i class="icon-edit"></i>
                    </button>
                </td>
                <td class="center">
                    <button class="btn btn-delete">
                        <i class="icon-trash-8"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-left">Heniken</td>
                <td class="center">Cerveja</td>
                <td class="text-right">R$8.50</td>
                <td class="center">
                    <button class="btn btn-edit">
                        <i class="icon-edit"></i>
                    </button>
                </td>
                <td class="center">
                    <button class="btn btn-delete">
                        <i class="icon-trash-8"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-left">Heniken</td>
                <td class="center">Cerveja</td>
                <td class="text-right">R$8.50</td>
                <td class="center">
                    <button class="btn btn-edit">
                        <i class="icon-edit"></i>
                    </button>
                </td>
                <td class="center">
                    <button class="btn btn-delete">
                        <i class="icon-trash-8"></i>
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-left">Heniken</td>
                <td class="center">Cerveja</td>
                <td class="text-right">R$8.50</td>
                <td class="center">
                    <button class="btn btn-edit">
                        <i class="icon-edit"></i>
                    </button>
                </td>
                <td class="center">
                    <button class="btn btn-delete">
                        <i class="icon-trash-8"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    