<div class="body-settings">
  <form  class="formUserMeep" id="userMeep">
    <h1>Bem vindo ao seu portal</h1>
    <p>
      Caso você trabalhe com mesas ou comandas,<br /> digite a quantidade de mesas/comandas possui em seu estabelecimento. 
      <br /> Caso negativo, basta pular esta etapa.
    </p>
    <p>
      <strong>Por favor insira a quantidade de mesas/comandas</strong>
    </p>
    <div class="inputRegister">
      <div class="input-field">
        <input id="numberLogin" type="number" class="validate" [(ngModel)]="quantity"  name="nameLogin">
        <label for="numberLogin">Quantidade</label>
      </div>
      <button class="btn waves-effect waves-light btn-go" name="nexPage"  (click)="nextPage()" 
        type="submit" >Continuar <i class="icon-right-open-2"></i>
      </button>
    </div>
  </form>
</div>
