<div class="settings-general">
  <div class="body-settings">
    <form  class="formUserMeep" id="userMeep">
      <h1>Bem vindo ao seu portal</h1>
      <p>
        Vamos começar a configuração do seu portal,<br> Para isso, é importante que você possua um<br> Cadastro inicial no
        Meep.
      </p>
      <p>
        <strong>Por favor insira seu usuário e senha Meep</strong>
      </p>
      <div class="inputRegister">
        <div class="input-field">
          <input id="emailLogin" type="email" class="validate" [(ngModel)]="login.username"  name="nameLogin">
          <label for="emailLogin">Usuário</label>
        </div>
        <div class="input-field">
          <input id="passLogin" type="password" [(ngModel)]="login.password" class="validate" name="passLogin">
          <label for="passLogin">Senha</label>
         
        </div>
        <button class="btn waves-effect waves-light btn-go" name="nexPage"  (click)="nextPage()" 
          type="submit" >Continuar <i class="icon-right-open-2"></i>
        </button>
      </div>
    </form>
  </div>
</div>

