@import "../../../app.component.less";
.listCategoies {
    width: 85%;
    position: relative;
    margin: 0 auto 20px;
    padding: 1%;
    float: left;
    background: #f4f3f3;
    ul {
        li {

        }
    }
}

.details {
    border: none;
    background: transparent;
    font-size: 1.625rem;
    float: right;
    color: #777777;
}

.back-button {
    border: none;
    background: transparent;
    float: left;
    font-size: 1.875rem;
    color: @linkMenuHeader;
}

.titlePageProducao {
    display: table;
    float: left;
    margin-top: 10px;
    h1 {
        color: @defaultColor;
        font-size: 1.375rem;
        padding-bottom: 0px;
        margin: 0px;
        display: table;
        a {
            color: @defaultColor;
        }
    }
    @media (max-width: 991px) {
        margin-bottom: 0px;
    }
}

.breadcrumb-producao {
    width: 100%;
    position: relative;
    float: left;
    margin: 0;
    padding: 1% 0;
    background: #f4f3f3;
}
.productionsBody {
    width: 100%;
    padding: 0 1%;
   
}
.cardBody {
    width: 70%;
    position: relative;
    margin: 20px auto;
    @media (max-width: 1440px) {
        width: 80%;
    }
   
}
.card-production {
    width: 25%;
    padding: 0 8px;
    float: left;
    margin-bottom: 20px;
    position: relative;
    max-height: 100%;
    @media (max-width: 1440px) {
        
    }
    .bar {
        background: #ebebeb;
        height: 6px;
        border-radius: 2px;
        overflow: hidden;
        .barLoader {
            height: 6px;
            display: block;
            -webkit-transition: width 2s; /* Safari */
            transition: width 2s;
            background: @green;
        }
    }
    .cardActention {
        background: @orangeDefault!important;
    }
    .cardEnd {
        background: @defaultColor!important;
    }
    .card-title {
        background: @green;
        border-radius: 2px;
        padding: 5% 10px;
        margin: 2px 0;
        float: left;
        display: block;
        width: 100%;        
        @media (max-width: 1440px) {
            padding:5% 10px;
        }
        h2 {
            font-size:1.25rem;
            color: #f8f8f8;
            font-weight: 200;
            margin: 0px;
            display: table;
            width: 60%;
            float: left;
            text-align: left;
            @media (max-width: 1440px) {
                width: 69%;
            }
        }
        .play {
            color: #f8f8f8;
            border: none;
            background: transparent;
            font-size: 2.5rem;
            display: table;
            float: right;
        }
    }
    .colItens {
        background: #ebebeb;
        padding: 12px;
        border-radius: 2px;
        margin: 2px 0;
        float: left;
        width: 100%;
        font-size: 1rem;
        .titleCol { 
            color: @happyColor;
            font-weight: 600;
         }
        .itens { 
            color: #777777;
            float: right;
            font-weight: 600;
        }
        .observ { 
            color: #777777;
            text-align: left;
            font-weight: 600;
            display: block;
            margin-top: 15px;
            overflow-y: scroll;
            max-height: 50px;
            height: 50px;
        }
        .print {
            position: relative;
            right: 0px;
            top: 5px;
            float: right;
            border-radius: 2px;
            border: 1px solid #27a69a;
            padding: 15px;
            background: transparent;
            margin-bottom: 10px;
            
            h3 {
                font-size: 1.125rem;
                margin: 0;
            }
        }
    }
    @media (max-width: 1440px) {
        width: 24%;
    }
    @media (max-width: 991px) {
        width: 100%;
    }
}
.table-hidden {
    visibility: hidden;
    display: none;
    width: auto;
    position: relative;
 }