<div class="row">
    <div class="breadcrumb-producao">
        <div class="col s12 l12">
            <button class="back-button" (click)="goToHome()" type="button">
                <i class="icon-left-open"></i>
            </button>
            <div class="titlePageProducao">
                <h1>Linha de produção</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12 l12">
        <!-- DIV PARA IMPRESSAO POR CATEGORIA-->


        <div id="print_div" class="table-hidden" style="font-family: 'Open Sans', sans-serif;">
            <li draggable="true" *ngFor="let production of productions" style="font-family: 'Open Sans', sans-serif; list-style:none;">
                <div class="card-production">

                    <div class="card-title" [ngClass]="{'cardActention': production.percent > 50, 'cardEnd': production.percent > 80 }">
                        <h2>{{production.productName}}</h2>
                    </div>
                    <div class="colItens">
                        <span class="titleCol">
                            Mesa/Comanda:
                        </span>
                        <span class="itens">
                            {{production.ticketNumber}}
                        </span>
                    </div>
                    <div class="colItens">
                        <span class="titleCol">
                            Quantidade:
                        </span>
                        <span class="itens">
                            {{production.quantity}}
                        </span>
                    </div>
                    <div class="colItens" *ngIf="production.observation">
                        <span class="titleCol">
                            Observação:
                        </span>
                        <span class="observ">
                            <br> {{production.observation}}
                        </span>
                    </div>
                </div>
            </li>
        </div>

        <!-- escolher categoria-->
        <div class="productionsBody">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        Tudo
                    </ng-template>
                    <ul class="list-to-order">
                        <li draggable="true" *ngFor="let production of productions">
                            <div class="card-production">
                                <div class="bar">
                                    <span class="barLoader" [ngClass]="{'barLoader':production.percent > 0, 'cardActention': production.percent > 50, 'cardEnd': production.percent > 80 }"
                                        [ngStyle]="{'width.%': production.percent}"></span>
                                </div>
                                <div class="card-title" [ngClass]="{'cardActention': production.percent > 50, 'cardEnd': production.percent > 80 }">
                                    <h2>{{production.productName}}</h2>

                                    <button class="play">
                                        <div *ngIf="!production.timeLeft">
                                            <i class="icon-play" (click)="startTimer(production)"></i>
                                        </div>
                                        <div *ngIf="production.timeLeft">
                                            <i class="icon-stop-1" (click)="stopTimer(production)"></i>
                                        </div>
                                    </button>
                                </div>
                                <div class="colItens">
                                    <span class="titleCol">
                                        Mesa/Comanda
                                    </span>
                                    <span class="itens">
                                        {{production.ticketNumber}}
                                    </span>
                                </div>
                                <div class="colItens">
                                    <span class="titleCol">
                                        Quantidade
                                    </span>
                                    <span class="itens">
                                        {{production.quantity}}
                                    </span>
                                </div>
                                <div class="colItens" *ngIf="production.observation">
                                    <span class="titleCol">
                                        Observação
                                    </span>
                                    <span class="observ">

                                        {{production.observation}}
                                    </span>
                                </div>

                                <div class="colItens">
                                    <span class="titleCol">
                                        Ações
                                    </span>
                                    <button class="print" (click)="print(production)">
                                        <h3>
                                            <i class="icon-print"></i>
                                        </h3>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li draggable="true" *ngIf="productions.length == 0">
                            Não há itens na linha de produção
                        </li>
                    </ul>
                </mat-tab>

                <mat-tab *ngFor="let category of categories">
                    <ng-template mat-tab-label>
                        {{category.name}}
                    </ng-template>
                    <ul class="list-to-order">
                        <li draggable="true" *ngFor="let production of filterProductions(category.id)">
                            <div class="card-production">
                               <div class="bar">
                                    <span class="barLoader" [ngClass]="{'barLoader':production.percent > 0, 'cardActention': production.percent > 50, 'cardEnd': production.percent > 80 }"
                                        [ngStyle]="{'width.%': production.percent}"></span>
                                </div>
                                <div class="card-title" [ngClass]="{'cardActention': production.percent > 50, 'cardEnd': production.percent > 80 }">
                                    <h2>{{production.productName}}</h2>
                                    <button class="play">
                                        <div *ngIf="!production.timeLeft">
                                            <i class="icon-play" (click)="startTimer(production)"></i>
                                        </div>
                                        <div *ngIf="production.timeLeft">
                                            <i class="icon-stop-1" (click)="stopTimer(production)"></i>
                                        </div>
                                    </button>
                                </div>
                                <div class="colItens">
                                    <span class="titleCol">
                                        Mesa/Comanda
                                    </span>
                                    <span class="itens">
                                        {{production.ticketNumber}}
                                    </span>
                                </div>
                                <div class="colItens">
                                    <span class="titleCol">
                                        Quantidade
                                    </span>
                                    <span class="itens">
                                        {{production.quantity}}
                                    </span>
                                </div>
                                <div class="colItens" *ngIf="production.observation">
                                    <span class="titleCol">
                                        Observação
                                    </span>
                                    <span class="observ">

                                        {{production.observation}}
                                    </span>
                                </div>

                                <div class="colItens">
                                    <span class="titleCol">
                                        Ações
                                    </span>
                                    <button class="print" (click)="print(production)">
                                        <h3>
                                            <i class="icon-print"></i>
                                        </h3>
                                    </button>
                                </div>
                            </div>
                        </li>
                        <li draggable="true" *ngIf="productions.length == 0">
                            Não há itens na linha de produção
                        </li>



                    </ul>
                </mat-tab>
            </mat-tab-group>
        </div>


    </div>
</div>