<div class="row">
    <div class="breadcrumb-total">
        <div class="col s12 l6">
            <div class="titlePage">
                <h1>Atendente</h1>
            </div>
        </div>
        <div class="col s12 l6">
            <!-- <form class="searchCrud">
                <input type="search" placeholder="Busca...">
            </form> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 l9">
    </div>
    <div class="col s12 l3">
        <h2 class="newCrud">Novo atendente
            <a routerLink="novo">
                <img width="30" src="assets/images/plus.png">
            </a>
        </h2>

    </div>
</div>
<div class="row">
    <div class="col s12 l12">
        <div class="body-table">
            <div class="generalTable">
                <table class="striped">
                    <thead>
                        <tr>
                            <th class="text-left">Atendente</th>
                            <th class="text-left">CPF</th>
                            <th class="text-left">Sexo</th>
                            <th class="text-left">Pin</th>
                            <th class="text-center">Novo Pin</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let attendant of attendants">
                            <input type=hidden value={{attendant.id}}>
                            <td class="text-left">{{attendant.name}}</td>
                            <td class="text-left">{{attendant.cpf}}</td>
                            <td class="text-left">{{attendant.sex}}</td>
                            <td class="text-left">{{attendant.pinCode}}</td>
                            <td class="text-center">
                                <a class="btn btn-edit" (click)="newPin([attendant.id])"> Novo Pin</a>
                            </td>
                            <td class="text-center">
                                <a [routerLink]="[attendant.id]" class="btn btn-edit">
                                          <i class="icon-edit"></i>
                                      </a>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-delete" (click)='delete([attendant.id])'>
                                          <i class="icon-trash-8"></i>
                                      </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>