<div class="row">
  <div class="breadcrumb-total">
    <div class="col s12 l12">
      <div class="titlePage">
        <!--detalhes pedidos -->
        <h1><a style="cursor:pointer" (click)="goBack()"><i class="icon-left-open-big"></i></a> Pedido</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="resultado-caixa">
      <div class="head-data">
        <div class="hora-abertura">
          <h2>Hora de abertura</h2>
          <h3>{{order.dateOpened | date: 'dd/MM/yyyy HH:mm:ss'}}</h3>
        </div>
        <div class="hora-fechar">
          <h2>Hora fechamento</h2>
          <h3>{{order.dateClosed  | date: 'dd/MM/yyyy HH:mm:ss'}}</h3>
        </div>
        <div class="atendente-abriu">
          <h2>Atendente</h2>
          <h3>{{order.attendant.name}}</h3>
        </div>
        <div class="valor-total">
          <h2>Valor total</h2>
          <h3>R${{order.total.toFixed(2)}}</h3>
        </div>
      </div>
      <h5>Pedidos</h5>
      <div class="taxa">
        <table class="bordered">
          <thead>
            <tr>
              <th>Taxa</th>
              <th>Valor</th>
              
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let tax of order.taxes">
              <td>{{tax.taxName}}</td>
              <td>{{taxValue(tax)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="body-table">
      <div class="generalTable">
        <table class="striped">
          <thead>
            <tr>
              <th class="text-left">Produto</th>
              <th class="text-left">Atendente</th>
              <th class="text-left">Hora</th>
              <th class="text-left">Qtd.</th>
              <th class="text-right">Valor</th>
              <th class="text-right">Valor Total</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of order.products">
              <td class="text-left">{{product.productName}}</td>
              <td class="text-left">{{product.attendantName}}</td>
              <td class="text-left">{{product.dateOrder | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
              <td class="text-left">{{product.count}}</td>
              <td class="text-right">R${{product.value.toFixed(2)}}</td>
              <td class="text-right">R${{product.total.toFixed(2)}}</td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>