<header>
  <div class="meepUi-header">
    <nav>
      <div class="nav-wrapper">
        <a routerLink="caixa" class="brand-logo">
          <div class="logo-image">
            <img src="assets/images/Meep-logo.svg" alt="logo pós">
          </div>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>Olá, </li>
          <li>
            <strong>
            {{user.Name}}         
          </strong>
          </li>
          <li>
            <!-- <a href="" tooltip="João Martins" flow="down">
              <div class="perfil-imagem">
                <img src="assets/images/profile_user.jpg" alt="imagem perfil">
              </div>
            </a> -->
          </li>
          <li>
              <app-header-notification></app-header-notification>
          </li>
          <li><a routerLink=""> |<strong> Sair</strong> </a></li>
          <li>
            <img src="assets/images/logout.png" alt="logout">
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>