@import "../../../app.component.less";

header {
    display: flex;
    width: 100%;
    position: fixed;
    flex-direction: row;
    background: @whiteColor;
    justify-content: space-between;
    @media (max-width: 991px) {
        display: block;
        width: 100%;
    }
}

.meepUi-header{  
   width: 100%;
   position: relative;
   @media (max-width: 991px) {
       float: left;
   }
    .logo-image {
        max-width: 100%;
        width: 153px;
        img{
            width: 100%;
            display: block;
            margin: 0px auto;
        }
    }
    nav{
        height: 80px;
        background-color: #fff;
        padding: 10px 20px;
        -webkit-box-shadow: 0px 4px 9px 0px rgba(50, 50, 50, 0.15);
        -moz-box-shadow:    0px 4px 9px 0px rgba(50, 50, 50, 0.15);
        box-shadow:         0px 4px 9px 0px rgba(50, 50, 50, 0.15);
        @media (max-width: 991px) {
            padding: 10px 0;
        }
        .nav-wrapper {
            padding: 0px;
            .brand-logo{
                top: 7px;
                
                @media (max-width:370px)  {
                    left: 63%;
                }
            }
        }
        li{
            font-size: @linkSize;
            color: @linkMenuHeader;
            
            img{
                width: 25px;
                margin-top: 20px;
            }
            strong{
                font-weight: 700;
                margin-left: 10px;
            }
            .perfil-imagem{
                width: 55px;
                height: 55px;
                overflow: hidden;
                border-radius: 100%;
                -webkit-box-shadow: 0px 5px 7px 0px rgba(50, 50, 50, 0.25);
                -moz-box-shadow:    0px 5px 7px 0px rgba(50, 50, 50, 0.25);
                box-shadow:         0px 5px 7px 0px rgba(50, 50, 50, 0.25);
                img {
                    width: 55px;                    
                    margin-top: initial;
                    -webkit-transition: all 300ms ease-in-out;
                    -moz-transition: all 300ms ease-in-out;
                    -o-transition: all 300ms ease-in-out;
                    transition: all 300ms ease-in-out;
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
            
        }
        li a {
            color: @linkMenuHeader;
            
        }
        a:hover{
            background-color: transparent;
        }

    }
}


//Notificacoes
