@import "../node_modules/materialize-css/dist/css/materialize.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html,
body {
    min-height: max-content;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    padding: 0;
    float: left;
    width: 100%;
}

.myApp {
    .swal2-modal .swal2-title {
        font-size: 1.25rem;
    }
}

body ng-component {
    display: block;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 8000;
    transition: all 0.5s ease;
    background: rgb(255, 64, 80);
    background: -moz-linear-gradient(30deg, rgb(255, 64, 80) 30%, rgb(234, 141, 99) 70%);
    background: -webkit-linear-gradient(30deg, rgb(255, 64, 80) 30%, rgb(234, 141, 99) 70%);
    background: -o-linear-gradient(30deg, rgb(255, 64, 80) 30%, rgb(234, 141, 99) 70%);
    background: -ms-linear-gradient(30deg, rgb(255, 64, 80) 30%, rgb(234, 141, 99) 70%);
    background: linear-gradient(120deg, rgb(255, 64, 80) 30%, rgb(234, 141, 99) 70%);
    img {
        margin: 0px auto;
        display: block;
        position: relative;
        top: 50%;
        width: 50px;
    }
}

.myApp {
    .productionsBody {
        .mat-tab-label {
            height: 60px;
            font-family: 'Open Sans', sans-serif;
            font-size: 1.25rem;
        }
        .mat-tab-group.mat-primary .mat-ink-bar,
        .mat-tab-nav-bar.mat-primary .mat-ink-bar {
            background-color: transparent;
            color: #ef4051;
        }
        .mat-tab-group.mat-primary .mat-tab-label:focus {
          background-color:transparent;
          color: #7a7a7a;
        }
        .mat-tab-label-active{
            color: #ef4051;
        }
    }
}