<div class="order-body">
    <div class="settings-login">
        <a routerLink=".." class="backToTheMoon"><i class="icon-left-open-1"></i></a> 
        <h2>{{attendantName}}</h2>
        <button type="button" value="Options">
            <a routerLink=".."><i class="icon-logout-1"></i></a>  
        </button>
    </div>
    <div class="container-padding">
        <div class="key-login">
            <div class="playground">
                <div class="numpad">
                    <div class="button enter" name="action" (click)="sellOrder()" type="submit" id="enter">VENDER <i class="icon-right-open-big"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>