.order-body{
    width: 100%;
    height: 100%;
    float: left;
}
.order-body .key-login .numpad {
    height: auto;
}
.order-body .numpad #enter {
    background-color:#1488df;
    color: #fff;
    padding: 29px;
}
.order-body .number-container, .key-login {
    width: 100%;
    float: none;
    height: auto;
    min-height: auto;
    margin: 0px auto;
    padding: 10%;
}
.settings-login{
    position: absolute;
    right: 0;
    display: inline-flex;
    top: 2%;
    color: #fff;
    cursor: pointer;
    width: 100%;
    z-index: 6000;
}
.settings-login h2 {
    font-size: 0.9375rem;
    float: right;
    right: 3%;
    position: absolute;
}
.settings-login button{
    background: transparent;
    border: none;
    font-size: 1.5rem;
    right: 0px;
    position: absolute;
    float: right;
}
.settings-login button a{
    color: #fff;
}
.settings-login .backToTheMoon {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;

}
@media screen and (max-width: 1366px) {
    
    .order-body .numpad #enter {
      font-size: 1.125rem;
      font-weight: 600;
    }
    
}
@media screen and (max-width: 991px) {
    
    .order-body .numpad #enter {
      font-size:  0.9375rem;
      font-weight: 600;
    }
    .container-padding .key-login {
        padding:0%;
        top: 50%;
        position: relative;
    }
    .settings-login h2{
        right: 15%;
    }
    .order-body {
        width: 100%;
        height: 100%;
        padding: 2%;
        float: none;
        min-height: 100%;
    }
}