<div class="content-resume">
  <div id="print_div" class="table-hidden" style=" height: 25%;">
    <h2 style="font-size:0.5625rem;font-family: 'Segoe UI';
        padding: 5px 0px;
        margin: 0;">
      Comanda: {{order.ticketNumber}}
    </h2>
    <h3 style="font-size:0.5rem;
        padding: 5px 0px;font-family: 'Segoe UI'; margin: 0;">{{printDate}}</h3>
    <table style="font-family: 'Segoe UI';">
      <thead>
        <tr>
          <th style="padding: 5px 0px;text-align:left;font-size:0.5rem;">Produto</th>
          <th style="padding: 5px 0px;text-align:right;font-size:0.5rem;">Qtd</th>
          <th style="padding: 5px 0px;text-align:right;font-size:0.5rem;">Un</th>
          <th style="padding: 5px 0px;text-align:right;font-size:0.5rem;">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of order.products">
          <td style="padding: 5px 0px;text-align:left;font-size:0.5rem;">{{product.productName}}</td>
          <td style="padding: 5px 0px;text-align:right;font-size:0.5rem;">{{product.count}}</td>
          <td style="padding: 5px 0px;text-align:right;font-size:0.5rem;">R${{product.value.toFixed(2)}}</td>
          <td style="padding: 5px 0px;text-align:right;font-size:0.5rem;">R${{product.total.toFixed(2)}}</td>
        </tr>
      </tbody>
      <br><br>
      <thead>
          <tr>
            <th style="padding: 5px 0px;text-align:left;font-size:0.5rem;">Desconto</th>
            <th style="padding: 5px 0px;text-align:right;font-size:0.5rem;">Qtd</th>
            <th style="padding: 5px 0px;text-align:right;font-size:0.5rem;">Un</th>
            <th style="padding: 5px 0px;text-align:right;font-size:0.5rem;">Total</th>
          </tr>
      </thead>
      <tbody style="border-top:1px solid #ddd; padding-top:5px;">
        <tr *ngFor="let discount of order.discounts">
          <td style="padding: 5px 0px;text-align:left;font-size:0.5rem;">{{discount.discountName}}</td>
          <td style="padding: 5px 0px;text-align:right;font-size:0.5rem;">{{discount.count}}</td>
          <td style="padding: 5px 0px;text-align:right;font-size:0.5rem;">R${{discount.value.toFixed(2)}}</td>
          <td style="padding: 5px 0px;text-align:right;font-size:0.5rem;">R${{discount.total.toFixed(2)}}</td>
        </tr>
      </tbody>
      
      <tfoot>
        <tr>
            <td style="text-align:left;font-size:0.5rem;font-weight:bolder;font-family: 'Segoe UI'; margin:0;">SubTotal</td>
            <td></td>
            <td></td>
            <td style="text-align:left;font-size:0.5rem;font-weight:100;font-family: 'Segoe UI'; margin:0;text-align:right;">R${{subTotal.toFixed(2)}}</td>
        </tr>
        <tr>
          <td style="text-align:left;font-size:0.5rem;font-weight:bolder;font-family: 'Segoe UI'; margin:0;">Taxa</td>
          <td></td>
          <td></td>
          <td style="text-align:left;font-size:0.5rem;font-weight:100;font-family: 'Segoe UI'; margin:0;text-align:right;"> R${{taxTotal.toFixed(2)}}</td>
        </tr>
        <tr>
            <td style="text-align:left;font-size:0.5rem;font-weight:bolder;font-family: 'Segoe UI'; margin:0;">Descontos</td>
            <td></td>
            <td></td>
            <td style="text-align:left;font-size:0.5rem;font-weight:100;font-family: 'Segoe UI'; margin:0;text-align:right;">R${{totalDiscount.toFixed(2)}}</td>
        </tr>
        <tr>
            <td style="text-align:left;font-size:0.5rem;font-weight:bolder;font-family: 'Segoe UI'; margin:0;">Total</td>
            <td></td>
            <td></td>
            <td style="text-align:left;font-size:0.5rem;font-weight:100;font-family: 'Segoe UI'; margin:0;text-align:right;">R${{this.order.total.toFixed(2)}}</td>
        </tr>
      </tfoot>
    </table>
    <h5 style="border-top:1px solid #ddd; padding-top:5px;text-align:center;font-size:0.5rem;font-weight:bolder;font-family: 'Segoe UI'; margin:0;">** Não é válido como documento Fiscal **</h5>
  </div>



  <div class="content-products">
    <h2 class="title-list">
      <button class="back-button" (click)="goToHome()" type="button">
          <i class="icon-left-open-1"></i>
      </button>
      Produtos da comanda {{order.ticketNumber}}
    </h2>
    <button type="button" class="printComanda" name="action" (click)="print()">
      <i class="icon-print"></i>
    </button>
    <div class="body-list">
    <!-- Lista de taxas-->
      <div class="itemListAdd" *ngFor="let tax of order.taxes">
        <div class="product-name">
          <h5>Taxa</h5>
          {{tax.taxName}}
        </div>
        <button type="button" (click)="removeTax(tax)" class="deleteTax">
          <i class="icon-cancel-1"></i>
        </button>
        <div class="product-qtd-value">
          <h5>Valor</h5>
          {{taxValue(tax)}}
        </div>
      </div>

      <!-- Lista de produtos-->
      <div class="itemListAdd" *ngFor="let product of order.products">
        <div class="product-name">
          <h5>Produto</h5>
          {{product.productName}}
        </div>
        <div class="product-qtd-value">
          <h5>Total</h5>
          R${{product.total.toFixed(2)}}
        </div>
        <div class="product-value">
          <h5>Un.</h5> R${{product.value.toFixed(2)}}
        </div>
        <div class="product-value">
          <h5>Qtd.</h5>{{product.count}}
        </div>
        <div class="product-description" *ngIf="product.description">
          <button type="button" class="descriptionBtn" (click)="viewDescription(product)" id="qtdDown">
            <i class="icon-edit-3"></i>
          </button>
        </div>
      </div>

      <!-- Lista de descontos -->
      <div class="itemListAdd" *ngFor="let discount of order.discounts">
          <div class="product-name">
            <h5>Desconto</h5>
            {{discount.discountName}}
          </div>
          <div class="product-qtd-value">
            <h5>Total</h5>
            R${{discount.total.toFixed(2)}}
          </div>
          <div class="product-value">
            <h5>Un.</h5> R${{discount.value.toFixed(2)}}
          </div>
          <div class="product-value">
            <h5>Qtd.</h5>{{discount.count}}
          </div>
        </div>

    </div>

    <div class="payment-item">
      <div class="sub-total">
        <h2>SubTotal</h2>
        <h3>R${{subTotal.toFixed(2)}}</h3>
      </div>
      <div class="servico">
        <h2>Taxa</h2>
        <h3>R${{taxTotal.toFixed(2)}}</h3>
      </div>
      <div class="servico">
        <h2>Descontos</h2>
        <h3>R${{totalDiscount.toFixed(2)}}</h3>
      </div>
      <hr>
      <div class="total">
        <h2>Total</h2>
        <h3>R${{valueRemaining.toFixed(2)}}</h3>
      </div>
      <div class="button-payment">
        <!-- <input type="text" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" pattern="[0-9]*" class="input-value" [(ngModel)]="_valueToPay" [ngModelOptions]="{standalone: true}" id="value-digite"
          placeholder="Digite o valor"> -->
        <div *ngIf="valueRemaining > 0">
          <button type="button" name="action" (click)="pay()" class="total-pay">Pagar</button>
        </div>
        <div *ngIf="valueRemaining <= 0">
          <button type="button" name="action" (click)="closeOrder()" class="close-pay">Fechar Conta</button>
        </div>
      </div>
    </div>
  </div>


</div>