@import "/../app.component.css";
@import "/../home.component.css";


.itemListAdd{
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    padding: 0 15px;
    margin-bottom: 3px;
    display: block;
    width: 100%;
    float: left;
}
input[type="radio"].toggle:checked + label {
    background-image: linear-gradient(to top,#969696,#727272);
    box-shadow: inset 0 1px 6px rgba(41, 41, 41, 0.2),
                      0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: default;
    color: #E6E6E6;
    border-color: transparent;
    text-shadow: 0 1px 1px rgba(40, 40, 40, 0.75);
  }
  
  input[type="radio"].toggle + label {
    width: 3em;
  }
  
  input[type="radio"].toggle:checked + label.btn:hover {
    background-color: inherit;
    background-position: 0 0;
    transition: none;
  }
  
  input[type="radio"].toggle-left + label {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input[type="radio"].toggle-right + label {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

.content-resume {
    width: 100%;
    height: 100%;
    position: relative;
   
}


.deleteTax {
    color: #f84675;
    font-size: 2.5rem;
    cursor: pointer;
    border: none;
    padding: 0px;
    float: right;
    text-align: center;
    background: transparent;
}
.content-products{
    background: #fff;
    border-radius: 4px;
    height: 100%;
    position: relative;
    display: block;
    max-height: 100%;
    margin: 0px auto;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
.title-list {
    font-size: 1.563rem;
    color: #686d85;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    font-weight: 700;
    margin: 0;
    font-size: 1.563rem;
    color: #686d85;
    font-weight: 700;
    background: #fff;
    margin: 0px;
    padding: 20px 10px;
    float: left;
    display: table;
}
.table-hidden {
   visibility: hidden;
   display: none;
  
   width: auto;
   position: relative;
}
.table-hidden h2 {
    font-size: 1.125rem;
    padding: 5px 10px;
    margin: 0;
}
.table-hidden h3 {
   
    padding: 5px 10px;
    margin: 0;
}
th, td{
    padding: 5px 10px;
}
.printComanda {
    font-size: 1.25rem;
    float: right;
    padding: 10px;
    border: 1px solid #fff6f6;
    margin: 14px 33px 0px;
    border-radius: 3px;
    background: #eee;
    color: #68c0e2;
    -webkit-box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.21);
}
.back-button {
    border: none;
    background: transparent;
}
.back-button a{
    font-size: 1.625rem;
    color: #686d85;
}
.body-list {
    float: left;
    background: #fff;
    width: 100%;
    overflow-y: scroll;
    display: block;
}


.quant{
    text-align: center;
    font-size: 1.375rem;
    color: #1488df;
    font-weight: 700;
    padding: 15px;
    float: left;
}
.product-name, .product-qtd-value, .product-value, .product-description, .deleteTax{
    margin-top: 10px;
    margin-bottom: 10px;
}
.product-name{
    color: #1488df;
    font-size: 1.125rem;
    padding: 0px 10px;
    font-weight: 700;
    float: left;
}
.product-name h5{
    font-size: 0.875rem;
    color: #a6a6a6;
    font-weight: normal;
    margin: 0px;

}
.product-value{
    padding: 0px 10px;
    color: #f25c1f;
    font-size: 1.125rem;
    float: right;
}
.product-qtd-value{
    padding: 0px 10px;
    color: #f25c1f;
    font-size: 1.125rem;
    float: right;
}
.product-qtd-value h5{
    font-size: 0.875rem;
    color: #a6a6a6;
    margin: 0px;
    font-weight: normal;
}
.product-value h5{
    font-size: 0.875rem;
    color: #a6a6a6;
    font-weight: normal;
    margin: 0px;
}
.partial:hover, .total-pay:hover {
    opacity: 0.7;
}
.payment-item {
    padding: 10px 0px;
    width: 100%;
    float: left;
    position: absolute;
    bottom: 0px;
    background: #f8f8f8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0px -2px 7px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow:    0px -2px 7px 0px rgba(0, 0, 0, 0.11);
    box-shadow:         0px -2px 7px 0px rgba(0, 0, 0, 0.11);
}
.payment-item hr {
    border: 1px solid #E9E9E9;
}
.sub-total {
    width: 100%;
    float: left;
    padding: 0 10px;
}
.sub-total h2{
    color: #a5a5a5;
    font-size: 1.125rem;
    margin: 5px 0;
    font-weight: 600;
    float: left;
}
.sub-total h3{
    font-size: 1.125rem;
    color: #f37142;
    font-weight: 600;
    float: right;
    margin: 5px 0;   
}

.servico {
    width: 100%;
    float: left;
    padding: 0 10px;
    
}
.servico h2{
    font-size: 0.9375rem;
    color: #a5a5a5;
    float: left;
    margin: 5px 0;
    font-weight: 400;
}
.servico h3{
    font-size: 0.9375rem;
    color: #a5a5a5;
    font-weight: 600;
    float: right;
    margin: 5px 0;
}
.total {
    width: 100%;
    float: left;
    padding: 0 10px;
}
.total h2{
    color: #a5a5a5;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 5px 0;
    text-transform: uppercase;
    float: left;
}
.total h3{
    color: #00a99d;
    font-size: 1.125rem;
    font-weight: 900;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
}
.button-payment {
    margin-top: 10px;
    padding: 0px 10px;
    float: left;
    width: 100%;
}
.partial {
    font-size: 1.25rem;
    background: #1488df;
    text-transform: uppercase;
    height: 72px;
    border: none;
    width: 236px;
    text-align: center;
    color: #fff;
}
.total-pay {
    font-size: 1.25rem;
    background: #00a99d;
    text-transform: uppercase;
    height: 70px;
    border: none;
    float: right;
    width: 236px;
    text-align: center;
    color: #fff;
}
.close-pay {
    font-size: 1.25rem;
    background: #A92200;
    text-transform: uppercase;
    height: 72px;
    border: none;
    float: right;
    width: 236px;
    text-align: center;
    color: #fff;
}
.input-value {
    font-size: 1.125rem;
    background: transparent;
    text-transform: uppercase;
    height: 65px;
    color: #1488df;
    border: #1488df 1px solid;
    float: left;
    padding: 0 10px;
    width: auto;
    text-align: center;
}
.product-description {
    padding: 10px;
    color: #f25c1f;
    font-size: 1.125rem;    
    margin-left: 10px;
    float: left;
    height: 100%;
    display: block;
}
.descriptionBtn {
    background: transparent;
    font-size: 1.250rem;
    border: none;
    text-align: center;
}
@media screen and (min-width: 1600px) {    
    .body-list {
        max-height: 60%;
        height: 60%;
    }
    .content-products {
        width: 40%;
    }
    .content-resume {
        padding: 1% 0%;
    }
}

@media screen and (max-width: 1599px) {
    .content-resume {
        padding: 1% 0;
    }
    .content-products {
        width: 40%;
    }
    .title-list {
        font-size:  1.375rem;
    }
    .body-list {
        max-height: 410px; 
    }
}
@media screen and (max-width: 1440px) {
    .body-list {
        max-height: 510px;
    }
}
@media screen and (max-width: 1370px) {
    .body-list {
        max-height: 410px;
    }
}
@media screen and (max-width: 1024px) {
    .body-list {
        max-height: 100%;  
    }
    .content-products {
        width: 80%;
    }
}
@media screen and (max-width: 991px) {
    .content-resume {
        padding: 2%;
    }
    .content-products {
        width: 80%;
    }
    .body-list {
        max-height: 500px;  
    }
    .product-value{
        margin-top: 0px
    }
    .product-qtd-value{
        margin-top: 0px
    }
    .title-list {
        font-size: 1.125rem;
        padding: 10px;
    }
    .product-name {
        width: 23%;
        font-size: 1rem;
    }  
    .input-value {
        width: 50%;
        margin-bottom: 10px;
    }  
    .total-pay, .close-pay {
        width: 45%;
        margin-bottom: 10px;
    }
    
}
@media screen and (max-width: 640px){
    .body-list {
        max-height: 40%;
        height: 40%;
        width: 100%;
        overflow: visible;
        float: none;
        display: inline-table;
        background: #fff;
    }
    .printComanda {
        margin:5px;
    }
    .content-products {
        width: 100%;
        height: 100%;
    }
    .itemListAdd {
        float: left;
        padding: 5px;
    }
    .product-name {
        font-size: 1rem;
    } 
    .quant{
        padding: 5px;
    }
    
    .input-value, .total-pay {
        width: 45%;
        height: 50px;
        font-size:  0.875rem;
        margin-bottom: 10px;
    }
    .product-value {
        padding: 0px 5px;
        font-size: 1rem;
    }
    .product-qtd-value{
        padding: 0px 5px;
        font-size: 1rem;
    }

}
@media screen and (max-width: 375px){
    .body-list {
        max-height: 280px;
        height: 280px;
        overflow-y: scroll;
        display: block;
    }
    .product-name {
        width: 23%;
        font-size: 1rem;
    } 
    .total-pay, .close-pay {
        font-size:  0.875rem;
    }
    
}
@media screen and (max-width: 340px){
  
    .body-list {
        max-height: 220px;
        height: 220px;
        overflow-y: scroll;
        display: block;
    }
}

