.order-body{
    width: 100%;
    height: 100%;
}
.container-login-pre {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10% 0;
    color: #1488df;
    font-size: 2.5rem;
}
.enter-pre {
    width: 500px;
    font-size: 1.5rem;
    padding: 29px;
    font-weight: 600;
    margin: 10% auto;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33.3333%;
    flex: 1 0 33.3333%;
    background-color: #1488df;
    color: #fff;
    border: 1px solid rgba(158, 158, 158, 0.15); 
}
.settings-login{
    position: absolute;
    right: 0;
    display: inline-flex;
    top: 2%;
    color: #fff;
    cursor: pointer;
    width: 100%;
    z-index: 6000;
}
.settings-login h2 {
    font-size: 0.9375rem;
    float: right;
    right: 3%;
    position: absolute;
}
.settings-login button{
    background: transparent;
    border: none;
    font-size: 1.5rem;
    right: 0px;
    position: absolute;
    float: right;
}
.settings-login button a{
    color: #fff;
}
.settings-login .backToTheMoon {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;

}
@media screen and (max-width: 991px) {
    
    .order-body .numpad #enter {
      font-size:  0.9375rem;
      font-weight: 600;
    }
    .container-padding .key-login {
        padding:0%;
        top: 50%;
        position: relative;
    }
    .settings-login h2{
        right: 15%;
    }
    .order-body {
        width: 100%;
        height: 100%;
        padding: 2%;
        float: none;
        min-height: 100%;
    }
}
@media screen and (max-width: 1440px) {
    .enter-pre {
        width: 350px;
        font-size: 1.125rem;
    }
}
@media screen and (max-width: 768px) {
    .enter-pre {
        width: 80%;
        font-size: 1.125rem;
        margin: 50% auto;
    }
}
