<div class="row">
    <div class="breadcrumb-total">
        <div class="col s12 l6">
            <div class="titlePage">
                <h1>Usuários</h1>
            </div>
        </div>
        <div class="col s12 l6">
            <!-- <form class="searchCrud">
                <input type="search" placeholder="Busca...">
            </form> -->
        </div>
    </div>

</div>
<div class="row">
    <div class="col s12 l9">
    </div>
    <div class="col s12 l3">
        <h2 class="newCrud">Novo usuário
            <a routerLink="novo">
                <img width="30" src="assets/images/plus.png">
            </a>
        </h2>

    </div>
</div>
<div class="body-table">
    <div class="generalTable">
        <table class="striped">
            <thead>
                <tr>
                    <th class="text-left">Nome</th>
                    <th class="text-left">CPF</th>
                    <th class="text-left">Sexo</th>
                    <th class="text-left">Email</th>
                    <th class="text-left">Login</th>
                    <th class="text-center">Editar</th>
                    <th class="text-center">Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <input type=hidden value={{user.id}}>
                    <td class="text-left">{{user.name}}</td>
                    <td class="text-left">{{user.cpf}}</td>
                    <td class="text-left">{{user.sex}}</td>
                    <td class="text-left">{{user.email}}</td>
                    <td class="text-left">{{user.login}}</td>
                    <td class="text-center">
                        <a [routerLink]="[user.id]" class="btn btn-edit">
                            <i class="icon-edit"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-delete" (click)='delete([user.id])'>
                            <i class="icon-trash-8"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>