<app-header></app-header>
<div class="fullComponent">
  <app-menu></app-menu>
  <div class="meepUi-body">
    <!-- <app-breadcrumb></app-breadcrumb> -->
    <router-outlet></router-outlet>

  </div>
</div>
