
.fullComponent{
    width: 100%;
    position: relative;
    height: 100%;
    min-height: 100%;
    padding: 1%;
}
.leftList {
    width: 40%;
    position: relative;
    float: left;
    background: #fff;
    border-radius: 4px;
    height: 100%;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}
.rightList {
    width: 60%;
    float: left;
    height: 100%;
    position: relative;
    padding: 0px 1%;
}
.tab-desktop {
    float: left;
    width: 100%;
    position: relative;
    height: 100%;
}
/* Responsivo*/

@media screen and (min-width: 992px) {
    .tab-app {
        display: none;
    }
    
}
@media screen and (max-width: 1024px) {
    .leftList, .rightList {
       width: 50%;
    }
    
}
@media screen and (max-width: 991px) {
    .tab-desktop{
        display: none;
    }
    .fullComponent{
        padding: 2%;
    }
    .tab-app {
        width: 100%;
        height: 100%;
        float: left;
        max-height: 100%;
    }
    .leftList, .rightList{
        width: 100%;
        margin-bottom: 20px;
    }

    /* Tabs */
    .tabs {
        width: 100%;
        float: left;
        list-style: none;
        position: relative;
        margin: 0px 0 0 0px;
        text-align: left;
        padding: 0px;
    }
    .tabs li {
        float: left;
        display: block;
        width: 50%;
    }
    .tabs input[type="radio"] {
        position: absolute;
        top: 0;
        left: -9999px;
    }
    .tabs label {
        display: block;
        padding: 14px;
        border-radius: 0;
        font-size: 1.5rem;
        font-weight: normal;
        text-transform: uppercase;
        text-transform: initial;
        opacity: 0.6;
        background: #ffffff;
        cursor: pointer;
        position: relative;
        top: 0;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .tabs label:hover {
        background: #C3C1C4;
    }
    .tabs .tab-content {
        z-index: 2;
        display: none;
        overflow: hidden;
        width: 100%;
        font-size: 17px;
        line-height: 25px;
        padding: 25px 0;
        position: absolute;
        top: 53px;
        left: 0;
        background:transparent;
    }
    .tabs [id^="tab"]:checked + label {
        top: 0;
        height: 60px;
        opacity: 1;
       
        padding: 0px;
        background: #fff;
        text-transform: initial;
    }
   
    .tabs [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
    }

}


