<div class="fullComponent">
      <div class="tab-app">
            <ul class="tabs" role="tablist">
                  <li>
                        <input type="radio" name="tabs" id="tab1" checked />
                        <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0">
                              <i class="icon-list-add"></i> 
                        </label>
                        <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="description" aria-hidden="false">
                              <div class="rightList">
                                    <app-category-list>
                                    </app-category-list>
                              </div>
                        </div>
                  </li>

                  <li>
                        <input type="radio" name="tabs" id="tab2" />
                        <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0"><i class="icon-th-list-2"></i></label>
                        <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
                              <div class="leftList">
                                    <app-product-list>
                                    </app-product-list>
                              </div>
                        </div>
                  </li>
            </ul>
      </div>
      <div class="tab-desktop">
            <div class="leftList">
                  <app-product-list>
                  </app-product-list>
            </div>
            <div class="rightList">
                  <app-category-list>
                        
                  </app-category-list>
            </div>
      </div>



</div>