@import "../../../app.component.less";
.resultado-caixa {
    width: 100%;
    h5{
        font-size: 1.25rem;
        color: @linkMenuHeader;
        border-top: 1px solid #ddd;
        padding-top: 1%;
    }
}
.head-data{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: flex-start;
    div {
        padding-right: 2%;
        width: 100%;
    }
    h2{
        font-size: 1.25rem;
        color: @happyColor;
    }
    h3 {
        font-size: 0.9375rem;
        color: #949494;
        background: #f3f3f3;
        padding: 10px;
        line-height: 1.25rem;
        border-radius: 3px;
    }
}