<div class="row">
    <div class="breadcrumb-total">
        <div class="col s12 l12">
            <div class="titlePage">
                <h1>Relatório de caixa</h1>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="search-report">
        <div class="col s12 l3">

            <select [(ngModel)]="cashierFilterModel.dateOpened" materialize="material_select">
                <!-- <select  materialize="material_select"> -->
                <option *ngFor="let date of ddlCashier" [ngValue]="date">{{date | date: 'dd/MM/yyyy hh:mm:ss'}}</option>
            </select>
        </div>
        <div class="col s12 l9">
            <div class="search-button">
                <button type="button" (click)="search()" class="buttonType">Buscar
                    <img width="30" src="assets/images/search.png">
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cashier.id != null && cashier.id != undefined">
    <div class="row">
        <div class="col s12">
            <div class="resultado-caixa">
                <div class="head-data">
                    <div class="hora-abertura">
                        <h2>Hora de abertura</h2>
                        <h3>{{cashier.dateOpened | date: 'dd/MM/yyyy HH:mm:ss'}}</h3>
                    </div>
                    <div class="hora-fechar">
                        <h2>Hora fechamento</h2>
                        <h3>{{dateFormat(cashier.dateClosed) | date: 'dd/MM/yyyy HH:mm:ss'}}</h3>
                    </div>
                    <div class="atendente-abriu">
                        <h2>Aberto por</h2>
                        <h3>{{cashier.cashierOpenerName}}</h3>
                    </div>
                    <div class="atendente-fechou">
                        <h2>Fechado por</h2>
                        <h3>{{cashier.cashierCloserName}}</h3>

                    </div>
                    <div class="valor-total">
                        <h2>Valor total</h2>
                        <h3>R${{cashier.total.toFixed(2)}}</h3>
                    </div>
                </div>
                <h5>Comanda/Mesas</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="body-table">
                <div class="generalTable">
                    <table class="striped">
                        <thead>
                            <tr>
                                <th class="text-left">Número</th>
                                <th class="text-left">Hora abertura</th>
                                <th class="text-left">Hora fechamento</th>
                                <th class="text-left">Atendente</th>
                                <th class="text-right">Valor total</th>
                                <th class="text-center">Detalhe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let order of cashier.orders">

                                <td class="text-left">{{order.ticketNumber}}</td>
                                <td class="text-left">{{order.dateOpened | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td class="text-left">{{dateFormat(order.dateClosed) | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                                <td class="text-left">{{order.attendant.name}}</td>
                                <td class="text-right">R${{order.total.toFixed(2)}}</td>
                                <td class="text-center">
                                    <button class="btn btn-detail" (click)="viewDetail(order.id)" routerLink="relatorio-caixas">
                                        <i class="icon-list-alt"></i>
                                    </button>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>