
<div class="row">
    <div class="breadcrumb-total">
        <div class="col s12 l6">
            <div class="titlePage">
                <h1>Caixa</h1>
            </div>
        </div>
        <div class="col s12 l6">
            <!-- <form class="searchCrud">
                    <input type="search" placeholder="Busca...">
                </form> -->
        </div>
    </div>

</div>
<!-- <div class="loadingPage" *ngIf="initialValue == undefined">
    Carregando
 </div> -->
<div class="body-table">
    
    <form materialize class="col s12 formCrud">
        <div class="boxRegister">
            <img class="iconMenu" src="assets/images/cashier.png" alt="open cashier">
        </div>

        <div class="row">
            <div class="input-field col s12 l4">
                <input id="initialValue" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" [(ngModel)]="initialValue"
                    [ngModelOptions]="{standalone: true}" placeholder="Valor de abertura" type="text" class="validate">
            </div>
            <div class="col s12 l3">
                <!-- <a class="btn btn-larger" [ngClass]="{'': isOpen == true, 'btn-red': isOpen == false}" (click)="openCashier()">   
                </a> -->
                <div class="switch" [ngClass]="{'disable': initialValue == 0}">
                    <label>
                        Fechado
                        <input type="checkbox" [checked]="isOpen" (click)="openCashier()">
                        <span class="lever"></span>
                        Aberto
                    </label>
                </div>
            </div>

        </div>
    </form>
    <div class="row">
        <div class="col s12 l12">
            <div class="generalTable">
                <table class="striped">
                    <thead>
                        <tr>
                            <th class="text-left">Status</th>
                            <!-- <th class="text-left">Data abertura</th> -->
                            <th class="text-right">Usuário abriu</th>
                            <th class="text-right">Usuário fechou</th>
                            <th class="text-right">Valor atual</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-left">{{fillStatus()}}</td>
                            <!-- <td class="text-left">{{cashier.dateOpened}}</td> -->
                            <td class="text-right">{{cashier.cashierOpenerName}}</td>
                            <td class="text-right">{{cashier.cashierCloserName}}</td>
                            <td class="text-right">{{cashier.total | currency:'BRL':true}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>