<div class="row">
  <div class="breadcrumb-total">
      <div class="col s12 l6">
          <div class="titlePage">
              <h1>Taxa</h1>
          </div>
      </div>
      <!-- <div class="col s12 l6">
          <form class="searchCrud">
              <input type="search" placeholder="Busca...">
          </form>
      </div> -->
  </div>
</div>
<div class="row">
  <div class="col s12 l9">
  </div>
  <div class="col s12 l3">
      <h2 class="newCrud">Nova taxa
          <a routerLink="novo">
              <img width="30" src="assets/images/plus.png">
          </a>
      </h2>
  </div>
</div>
<div class="row">
  <div class="col s12 l12">
      <div class="body-table">
          <div class="generalTable">
              <table class="striped">
                  <thead>
                      <tr>
                          <th class="text-left">Taxa</th>
                          <th class="text-left">Valor</th>
                          <th class="text-left">Obrigatório</th>
                          <th class="text-center">Editar</th>
                          <th class="text-center">Excluir</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let tax of taxes">
                          <input type=hidden value={{tax.id}}>
                          <td class="text-left">{{tax.description}}</td>
                          <td class="text-left">{{tax.value | currency:'BRL':true}}</td>
                          <td class="text-left">{{isRequired(tax.required)}}</td>
                          <td class="text-center">
                              <a [routerLink]="[tax.id]" class="btn btn-edit">
                                  <i class="icon-edit"></i>
                              </a>
                          </td>
                          <td class="text-center">
                              <button class="btn btn-delete" (click)='delete([tax.id])'>
                                  <i class="icon-trash-8"></i>
                              </button>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>