<div class="body-table" >
    <form materialize class="col s12 formCrud" >
        <div class="boxRegister">
            <img class="iconMenu" src="assets/images/register.png" alt="logo pós">
        </div>
        <div class="row">
            <div class="input-field col s12 l4">
                <input id="nameCategory" [(ngModel)]="category.name" [ngModelOptions]="{standalone: true}" type="text" class="validate">
                <label for="nameCategory"[ngClass]="{'': category.name == undefined || category.name == '', 'active': category.name != undefined || category.name != '' }">Nome Categoria</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 l6">
                <button (click)="save()" class="btn waves-effect waves-light btn-large btn-save" type="submit" name="action">Salvar alterações</button>
                <a routerLink="/home/categorias" class="btn waves-effect waves-light btn-large btn-cancel" type="button" name="action">Cancelar</a>
            </div>
        </div>
    </form>
</div>