<div class="row">
    <div class="breadcrumb-total">
        <div class="col s12 l6">
            <div class="titlePage">
                <h1>Configuração</h1>
            </div>
        </div>
        <div class="col s12 l6">
         
        </div>
    </div>

</div>
<div class="body-table">
    <form materialize class="col s12 formCrud">
        <div class="boxRegister">
            <img class="iconMenu" src="assets/images/settings.png" alt="open cashier">
        </div>
        <div class="row">
            <div class="col s12 l3">
                <div class="head-data">
                    <div class="hora-abertura">
                        <h2>Tipo Meep</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l3">
                <a class="waves-effect waves-light btn btn-blue" [ngClass]="{'preButton': configuration.meepType == 1}" (click)="setMeepType(1)">Pré</a>
                <a class="waves-effect waves-light btn btn-blue" [ngClass]="{'preButton': configuration.meepType == 2}" (click)="setMeepType(2)">Pós</a>
                <!-- <a class="waves-effect waves-light btn" (click)="setMeepType(3)">Ambos</a> -->
            </div>


        </div>

        <div class="row">
            <div class="col s12 l12">
                <div class="head-data">
                    <div class="hora-abertura">
                        <h2>Integração?</h2>
                    </div>
                </div>
                <div class="escolhaSistema">
                    <div class="switch">
                        <label>
                            Não
                            <input type="checkbox" [checked]="configuration.integration" (click)="changeIntegration()">
                            <span class="lever"></span>
                            Sim
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="configuration.integration" class="col s12 l12" style="margin-top: 27px; margin-bottom: 40px;">
                <button (click)="sync()" class="waves-effect waves-light btn btn-blue">Sincronizar Integrações</button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l3">
                <button (click)="save()" class="btn waves-effect waves-light btn-large btn-save" type="submit" name="action">Salvar alterações</button>
            </div>
        </div>

    </form>
</div>