@import "../../app.component.less";
.btn-red {
    background-color: #E77B00;
}
.disable {
    opacity: 0.4;
    pointer-events: none;
}
.head-data{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
    justify-content: flex-start;
    div {
        padding-right: 2%;
        width: 100%;
    }
    h2{
        font-size: 1.25rem;
        color: @happyColor;
    }
}
.btn-blue {
    background: transparent;
    border: 1px solid #0cb1f0;
    color: #0cb1f0;
    box-shadow: none;
}
.preButton {
    background: #0cb1f0;
    color: #fff;
}
.escolhaSistema {
    .switch label input[type=checkbox]:checked + .lever {
        background-color: #8fcfeb;
    }
    .switch label input[type=checkbox]:checked+.lever:after {
        background-color: #0cb1f0;
        left: 24px;
    }
}
