<div class="body-table">
  <form materialize class="col s12 formCrud" >
      <div class="boxRegister">
          <img class="iconMenu" src="assets/images/register.png" alt="logo pós">
      </div>
      <div class="row">
            <div class="input-field col s12 l4">
                <input id="nameAttendant" [(ngModel)]="attendant.name" [ngModelOptions]="{standalone: true}" type="text" class="validate">
                <label for="nameAttendant" [ngClass]="{'': attendant.name == undefined || attendant.name == '', 'active': attendant.name != undefined || attendant.name != '' }">Nome do Atendente</label>
            </div>
            <div class="input-field col s12 l4">
                <select [(ngModel)]="attendant.sex" [ngModelOptions]="{standalone: true}" materialize="material_select">
                    <option [ngValue]="1" >Masculino</option>
                    <option [ngValue]="2" >Feminino</option>
                </select>
            </div> 
            <div class="input-field col s12 l4">
                <input id="cpfAttendant" [(ngModel)]="attendant.cpf" [ngModelOptions]="{standalone: true}" type="text" class="validate">
                <label for="cpfAttendant" [ngClass]="{'': attendant.cpf == undefined || attendant.cpf == '', 'active': attendant.cpf != undefined || attendant.cpf != '' }">CPF do Atendente</label>
            </div>
      </div>
      <div class="row">
               
    </div>
      <div class="row">
          <div class="col s12 l6">
              <button (click)="save()" class="btn waves-effect waves-light btn-large btn-save" type="submit" name="action">Salvar alterações</button>
              <a routerLink="/home/atendente" class="btn waves-effect waves-light btn-large btn-cancel" type="button" name="action">Cancelar</a>
          </div>
      </div>
  </form>
</div>