<div class="row">
  <div class="breadcrumb-total">
      <div class="col s12 l6">
          <div class="titlePage">
              <h1>Gerenciador de dispositivos</h1>
          </div>
      </div>
      <div class="col s12 l6">
         
      </div>
  </div>
</div>
<div class="row">
  <div class="col s12 l12">
      <div class="body-table">
          <div class="generalTable">
              <table class="striped">
                  <thead>
                      <tr>
                          <th class="text-left">Usuário</th>
                          <th class="text-left">Dispositivo</th>
                          <th class="text-center">Permissão</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let device of devices">
                          
                          <td class="text-left">{{device.attendantName}}</td>
                          <td class="text-left">{{device.deviceName}}</td>
                          <td class="text-center">
                            <div class="switch"  [ngClass]="{'disable': !device.isActive}">
                                <label class="labelDevices">
                                  Não permitir
                                <input type="checkbox" [checked]="device.isActive" (click)="changeStatus(device.id, device.isActive)">
                                <span class="lever"></span>
                                  Permitir
                                </label>
                            </div>
                          </td>
                      </tr>
                      
                  </tbody>
              </table>
          </div>

      </div>
  </div>
</div>