<div class="category-component">
    <mat-tab-group>

        <mat-tab *ngFor="let category of categories">

            <ng-template mat-tab-label>
                {{category.name}}
            </ng-template>
            <ul class="list-to-order">
                <li draggable="true" *ngFor="let product of filterProducts(category.id)">
                    <div class="card-products" (click)="addProduct(product)">
                        <h2>{{product.name}}</h2>
                        <h3>R$ {{product.price.toFixed(2)}}</h3>
                        <h4>{{fillProductQuantity(product.id)}}</h4>
                    </div>
                </li>
            </ul>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <div class="tax-services">
                    Descontos
                </div>
            </ng-template>
            <ul class="list-to-order">
                <li draggable="true" *ngFor="let discount of discounts">
                    <div class="card-products" (click)="addDiscount(discount)">
                        <h2>{{discount.description}}</h2>
                        <h3>R$ {{discount.value.toFixed(2)}}</h3>
                    </div>
                </li>
            </ul>
        </mat-tab>
    </mat-tab-group>
</div>
<div class="container-send">
    <button type="button" class="send-order" (click)="sendOrder()">Enviar pedido
        <i class="icon-ok-outline"></i>
    </button>
</div>