<div class="body-table" >
    <form materialize class="col s12 formCrud" >
        <div class="boxRegister">
            <img class="iconMenu" src="assets/images/register.png" alt="logo pós">
        </div>
        <div class="row">
            <div class="input-field col s12 l4">
                <input id="nameTicket" [(ngModel)]="ticket.number" [ngModelOptions]="{standalone: true}" type="text" class="validate">
                <label for="nameTicket"[ngClass]="{'': ticket.number == undefined, 'active': ticket.number != undefined}">Identificação da mesa/comanda</label>
            </div>
        </div>

        <div class="row">
            <div class="col s12 l6">
                <button (click)="save()" class="btn waves-effect waves-light btn-large btn-save" type="submit" name="action">Salvar alterações</button>
                <a routerLink="/home/mapa-comandas" class="btn waves-effect waves-light btn-large btn-cancel" type="button" name="action">Cancelar</a>
            </div>
        </div>
    </form>
</div>