.container-padding {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
    padding: 10% 0;
    color: #1488df;
    font-size: 2.5rem;
}
.title-error {
    width: 100%;
    margin: 0px auto;
    padding: 5%;
}
.title-error h2{
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
}
.title-error h3 a{
    color: #fff;
    text-decoration: none;
}
.title-error h3{
    text-align: center;
    font-size: 0.875rem;
}