<div class="row">
  <div class="breadcrumb-total">
    <div class="col s12 l6">
      <div class="titlePage">
        <h1>Comissões</h1>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 l9">
  </div>
  <div class="col s12 l3">
    <h2 class="newCrud">Nova comissão
      <a routerLink="novo">
        <img width="30" src="assets/images/plus.png">
      </a>
    </h2>
  </div>
</div>

<div class="row" *ngIf="!noRegister">
  <div class="col s12 l12">
    <div class="body-table">
      <div class="generalTable">
        <table class="striped">
          <thead>
            <tr>
              <th class="text-left">Descrição</th>
              <th class="text-left">Valor</th>
              <th class="text-center">Editar</th>
              <th class="text-center">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <div class="loading-crud" *ngIf="loading"> Carregando</div>
            <tr *ngFor="let comission of comissions">
              <input type="hidden" value= {{comission.id}}>
              <td class="text-left">{{comission.description}}</td>
              <td class="text-left">{{comission.value}}%</td>
              <td class="text-center">
                  <a [routerLink]="[comission.id]" class="btn btn-edit">
                      <i class="icon-edit"></i>
                  </a>
              </td>
              <td class="text-center">
                <button class="btn btn-delete" (click)='delete([comission.id])'>
                    <i class="icon-trash-8"></i>
                </button>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="noRegister">
  <div class="col s12 l12">
      <div class="card-panel">
        <p>Você não tem nenhuma comissão cadastrada!</p>
      </div>
  </div>
</div>