@import "../../../app.component.less";
.desktop{
    background-color: @defaultColor;
    width: 20%;
    float: left;
    padding: 0 0% 1%;
    top: 0;
    min-height: max-content;
    height: 100%;
    position: fixed;
    display: block;
    .settingsChoice {
        position: absolute;
        bottom: 19px;
        width: 90%;
        border-radius: 2px;
        border: 1px solid @whiteColor;
        left: 19px;
        padding:0px;
        -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    0px 4px 6px 0px rgba(0, 0, 0, 0.2);
        box-shadow:         0px 4px 6px 0px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ;
        -moz-transition: all 1s;
        -o-transition: all 1s ;
        transition: all 1s ;
        &:hover {
            box-shadow: none;
        }
        
        li{
            a {
                color: @whiteColor;
                width: 100%;
                padding: 10px;
                display: block;
                
            }
        }
    }
    
    @media (max-width: 1440px) {
        padding:0 1% 1%;
        width: 20%;
    }
    @media (max-width: 1280px) {
        padding: 1%;
    }
    @media (max-width: 991px) {
        display: none;
    }
    ul{
        margin: 0px;
        margin-top: 110px;
        li{
            font-size: 1.125rem;
            color: @whiteColor;
            font-weight: @weightBold;
            opacity: 0.75;
            @media (max-width: 1600px) {
                font-size: 1rem;
            }
            @media (max-width: 1440px) {
                font-size: 0.875rem;
            }
            .btn-newCrud {
                background-color: @whiteColor;
                font-size: 1rem;
                width: 25px;
                padding: 0px;
                height: 25px;
                position: relative;
                line-height: 0px;
                /* margin-left: 25px; */
                right: 0px;
                color: @defaultColor;
                float: right;
                margin-top: 17px;
                i {
                    margin-left: 0px;
                    color: @defaultColor;
                    font-size: 0.875rem;
                    line-height: 25px;
                }
                a {
                    padding: 0px;
                    color: @defaultColor;
                    i {
                        margin-left: 0px;
                        color: @defaultColor;
                        font-size: 0.875rem;
                        line-height: 25px;
                    }
                }
            }
            img{
                width: 23px;
                margin-right: 15px;
                @media (max-width: 1600px) {
                    width: 18px;
                }
            }
            .linkComponent {
                color: @whiteColor;
                cursor: pointer;
                font-weight: @fontWeight;
                padding:15px 9%;
                position: relative;
                display: inline-block;
                @media (max-width: 1400px) {
                    font-size: 1rem;
                    padding: 15px 5%;
                }
                @media (max-width: 370px) {
                    font-size: 0.875rem;
                }

            }
            .linkParent {
                color: @whiteColor;
                font-weight: @weightBold;
                padding:15px 3%;
                width: 100%;
                display: block;
                cursor: pointer;
                @media (max-width: 370px) {
                    font-size: 0.875rem;
                }
            }
            &:hover{
                opacity: 1;
            }
            i{
                margin-left: 10px;
            }
        }
        .activeMenu {
            border-left: 5px solid #fff;
        }
    }
    
}

.subMenuHidden {
    visibility: hidden;
    max-height:1px;
    overflow: hidden;

}
.subMenuVisible {
    margin-top: 20px;
    visibility: visible;
  
    max-height: 100%;
    .subMenu {
        padding: 0px;
        margin-left: 0px;
        margin-top: 0;
        background: rgba(255,255,255,0.1);
        li{
            font-size: 1rem;
            margin-left: 0px;
            border-bottom: 1px solid @defaultColor - 15%;
        }
    }
}

.responsivo {
    .settingsChoice {
        position: absolute;
        bottom: 15%;
        width: 90%;
        border-radius: 2px;
        border: 1px solid #ffffff;
        left: 14px;
        padding: 0px;
        -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
        -moz-box-shadow:    0px 4px 6px 0px rgba(0, 0, 0, 0.2);
        box-shadow:         0px 4px 6px 0px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 1s ;
        -moz-transition: all 1s;
        -o-transition: all 1s ;
        transition: all 1s ;
        &:hover {
            box-shadow: none;
        }
        
        li{
            a {
                color: @whiteColor;
                width: 100%;
                padding: 10px;
                display: block;
                
            }
        }
    }
  .btn-menu-responsivo {
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background: transparent;
    position: fixed;
    z-index: 6000;
    top: 2%;
    left: 1%;
    color: #0cb1f0;
    .options {
        font-size: 0.875rem;
    }
  }
  .hideResponsivo {
   display: none;
   opacity: 0;
   transition: opacity 0.6s;

  }
  .showResponsivo {
    background-color: @defaultColor;
    width: 40%;
    float: left;
    padding: 0 0% 1%;
    z-index: 1000;
    top: 80px;
    min-height: max-content;
    height: 100%;
    position: fixed;
    display: block;
    @media (max-width: 420px) {
      width:65%;
    }
  }
  @media (min-width: 992px) {
    display: none;
  }
  .lista-responsivo {
    padding: 0px;
    li {
      font-size: 0.875rem;
      margin-left: 0px;
      border-bottom: 1px solid @defaultColor - 15%;
    }
    
    .linkComponent {
        color: @whiteColor;
        cursor: pointer;
        font-weight: @fontWeight;
        padding:15px 0px;
        position: relative;
        display: inline-block;
        @media (max-width: 420px) {
            font-size: 0.875rem;
            padding:15px 3%;
        }

    }
    .linkParent {
        color: @whiteColor;
        font-weight: @weightBold;
        padding:15px 3%;
        width: 100%;
        display: block;
        cursor: pointer;
    }
    &:hover{
        opacity: 1;
    }
  }
}
.menuDetails {
    border: none;
    background: @orangeDefault;
    padding: 15px;
    border-radius: 2px;
    display: block;
    position: relative;
    margin: 0px auto;
    top: 19px;
    color: @whiteColor;
    font-weight: 600;
    width: 90%;
    -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 4px 6px 0px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ;
    -moz-transition: all 1s;
    -o-transition: all 1s ;
    transition: all 1s ;
    &:hover {
        box-shadow: none;
      

    }
    img {
        width: 18px;
    }
}
img{
    width: 23px;
    margin-right: 15px;
    @media (max-width: 1600px) {
        width: 18px;
    }
  }
//
