
<!-- Responsivo -->
<aside class="responsivo">
    <button class="btn-menu-responsivo" (click)="openResponsivo()" alt="menu"><i class="icon-menu-3"></i><span class="options"></span></button>
    <div [ngClass]="{'hideResponsivo': hideMenuResponsivo, 'showResponsivo': !hideMenuResponsivo }">
        <ul class="lista-responsivo">
            <li (click)="openSubMenu(1)">
                <a  class="linkParent" routerLinkActive="active">
                <img class="iconMenu" src="assets/images/register.png" alt="logo pós"> Cadastros <i class="icon-down-dir"></i>
                <div [ngClass]="{'subMenuHidden': isSubMenuCadastroHide, 'subMenuVisible': !isSubMenuCadastroHide }">
                  <ul class="subMenu">
                    <li>
                        <a routerLink="produtos" class="linkComponent">Produtos </a>
  
                    </li>
                    <li>
                      <a routerLink="categorias"  class="linkComponent">Categorias </a>
  
                    </li>
                    <li>
                        <a routerLink="atendente"  class="linkComponent">Atendente </a>
  
                    </li>
                    <li>
                        <a routerLink="usuario"  class="linkComponent">Usuário </a>
  
                    </li>
                    <li>
                        <a routerLink="taxa"  class="linkComponent">Taxas </a>
  
                    </li>
                    <li>
                        <a routerLink="desconto"  class="linkComponent">Desconto </a>
  
                    </li>
                    <li>
                        <a routerLink="comissão"  class="linkComponent">Comissão </a>
  
                    </li>
                  </ul>
                </div>
                </a>
            </li>
            <li (click)="openSubMenu(2)">
                <a  class="linkParent" routerLinkActive="active">
                <img class="iconMenu" src="assets/images/register.png" alt="logo pós"> Relatórios <i class="icon-down-dir"></i>
                <div [ngClass]="{'subMenuHidden': isSubMenuRelHide, 'subMenuVisible': !isSubMenuRelHide }">
                  <ul class="subMenu">
                    <li>
                        <a routerLink="relatorio-caixa" class="linkComponent">Caixa </a>
  
                    </li>
                  </ul>
                </div>
                </a>
            </li>
            <li routerLinkActive="active">
                <a class="linkParent" routerLink="gerenciador-dispositivos">
                    <img class="iconMenu" src="assets/images/device.png" alt="logo pós"> Gerenciador de dispositivos
                </a>
            </li>
            <li routerLinkActive="active">
                <a class="linkParent" routerLink="mapa-comandas">
                    <img class="iconMenu" src="assets/images/table.png" alt="logo pós"> Mapa de comandas
                </a>
            </li>
            <li routerLinkActive="active">
                <a class="linkParent" routerLink="caixa">
                    <img class="iconMenu" src="assets/images/cashier.png" alt="logo pós"> Caixa
                </a>
            </li>
        </ul>
        <button type="menu" class="menuDetails" routerLink="/linha-producao">
            <img class="iconMenu" src="assets/images/production.png" alt="production"> Linha de produção
        </button>

        <ul class="settingsChoice">
            <li routerLinkActive="active">
                <a  routerLink="configuracao">
                    <img class="iconMenu" src="assets/images/settings.png" alt="logo pós"> Configuração
                </a>
            </li>
        </ul>
    </div>
</aside>
  
  
  
  
  
  
<!-- MENU DESKTOP -->
<aside class="desktop">

    <ul class="menu-list">
        <li (click)="openSubMenu(1)">
            <a  class="linkParent" routerLinkActive="active">
            <img class="iconMenu" src="assets/images/register.png" alt="logo pós"> Cadastros <i class="icon-down-dir"></i>
            <div [ngClass]="{'subMenuHidden': isSubMenuCadastroHide, 'subMenuVisible': !isSubMenuCadastroHide }">
            <ul class="subMenu">
                <li>
                    <a routerLink="produtos" class="linkComponent">Produtos </a>
                </li>
                <li>
                <a routerLink="categorias"  class="linkComponent">Categorias </a>

                </li>
                <li>
                    <a routerLink="atendente"  class="linkComponent">Atendente </a>

                </li>
                <li>
                    <a routerLink="usuario"  class="linkComponent">Usuário </a>

                </li>
                <li>
                    <a routerLink="taxa"  class="linkComponent">Taxas </a>
                </li>
                <li>
                <a routerLink="desconto"  class="linkComponent">Desconto </a>
                </li>
                <li>
                    <a routerLink="comissão"  class="linkComponent">Comissão </a>
                </li>
            </ul>
            </div>
            </a>
        </li>
        <li (click)="openSubMenu(2)">
            <a  class="linkParent" routerLinkActive="active">
            <img class="iconMenu" src="assets/images/report.png" alt="logo pós"> Relatórios <i class="icon-down-dir"></i>
            <div [ngClass]="{'subMenuHidden': isSubMenuRelHide, 'subMenuVisible': !isSubMenuRelHide }">
              <ul class="subMenu">
                <li>
                    <a routerLink="relatorio-caixa" class="linkComponent">Caixa </a>

                </li>
              </ul>
            </div>
            </a>
        </li>
        <li routerLinkActive="active">
            <a class="linkParent" routerLink="gerenciador-dispositivos">
                <img class="iconMenu" src="assets/images/device.png" alt="logo pós"> Gerenciador de dispositivos
            </a>
        </li>
        <li routerLinkActive="active">
            <a class="linkParent" routerLink="mapa-comandas">
                <img class="iconMenu" src="assets/images/table.png" alt="logo pós"> Mapa de comandas
            </a>
        </li>
        
        <li routerLinkActive="active">
            <a class="linkParent" routerLink="caixa">
                <img class="iconMenu" src="assets/images/cashier.png" alt="logo pós"> Caixa
            </a>
        </li>
    </ul>
    <button type="menu" class="menuDetails" routerLink="/linha-producao">
        <img class="iconMenu" src="assets/images/production.png" alt="production"> Linha de produção
    </button>

    <ul class="settingsChoice">
        <li routerLinkActive="active">
            <a  routerLink="configuracao">
                <img class="iconMenu" src="assets/images/settings.png" alt="logo pós"> Configuração
            </a>
        </li>
    </ul>
</aside>
  