<div class="row">
    <div class="breadcrumb-total">
        <div class="col s12 l6">
            <div class="titlePage">
                <h1>Categoria</h1>
            </div>
        </div>
        <div class="col s12 l6">
            <!-- <form class="searchCrud">
                <input type="search" placeholder="Busca...">
            </form> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 l9">
    </div>
    <div class="col s12 l3">
        <h2 class="newCrud">Nova categoria
            <a routerLink="novo">
                <img width="30" src="assets/images/plus.png">
            </a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="col s12 l12">
        <div class="body-table">
            <div class="generalTable">
                <table class="striped">
                    <thead>
                        <tr>
                            <th class="text-left">Categoria</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categories">
                            <input type=hidden value={{category.id}}>
                            <td class="text-left">{{category.name}}</td>
                            <td class="text-center">
                                <a [routerLink]="[category.id]" class="btn btn-edit">
                                    <i class="icon-edit"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-delete" (click)='delete([category.id])'>
                                    <i class="icon-trash-8"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>