@import "../../../../app.component.less";
@import "../header.component.less";

.notification {
    border: none;
    position: relative;
    color: @linkMenuHeader;
    background-color: transparent;
    &:hover{
        color:@happyColor;
    }
    &:after {
        bottom: 35px!important;
    }
    &:before {
        bottom: 30px!important;
    }
    .numberNotification {
        top: -41px;
       
    }
    .numberVisible {
        font-size:1.125rem;
        -webkit-box-shadow: 2px -1px 5px 0px rgba(0, 0, 0, 0.25);
        -moz-box-shadow:    2px -1px 5px 0px rgba(0, 0, 0, 0.25);
        box-shadow:         2px -1px 5px 0px rgba(0, 0, 0, 0.25);
        background: @orangeDefault;
        padding: 0;
        position: absolute;
        border-radius: 50%;
        width: 30px;
        text-align: center;
        height: 30px;
        line-height: 31px;
        font-weight: 700;
        top: 2px;
        left: 42px;
        color: @whiteColor;
        
    }
}

.notificationNone {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.notificationDisplay{
    visibility: visible;
    top: 70px;
    opacity: 1;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.lista-notificao{
    background-color: @whiteColor;
    position: absolute;
    max-height: 350px;
    border-radius: 6px;
    width: 350px;
    height: 350px;
    overflow-y: scroll;
    z-index: 360;
    right: 4%;
    border: 1px solid @happyColor;
    -webkit-box-shadow: 1px 0px 8px 0px rgba(0, 0, 0, 0.27);
    -moz-box-shadow:    1px 0px 8px 0px rgba(0, 0, 0, 0.27);
    box-shadow:         1px 0px 8px 0px rgba(0, 0, 0, 0.27);
    
    .lista-padrao {
        padding: 0px 10px;
        li {            
            display: flex;
            border-bottom: 1px solid #ddd;
            margin-bottom: 5px;
            padding: 6px 0px;
            i{
                color: @orangeDefault;
            }
            p{
                font-size: 0.9375rem;
                color: @orangeDefault;
                line-height: 20px;
                margin-left: 10px;
            }          
        }
    }
}
