<a type="button" (click)="showNotification()" class="button-default notification" tooltip="Notificações" flow="up">
    <i class="icon-bell-2"></i> <span *ngIf="notificationQuantity > 0" class="numberNotification" [ngClass]="{numberVisible:notificationQuantity > 0}">{{notificationQuantity}}</span>  
</a>
<div *ngIf="eventList.length > 0"  class="lista-notificao" [ngClass]="{'notificationNone': hiddenNotification, 'notificationDisplay': !hiddenNotification }">
    <ul class="lista-padrao">
        <li *ngFor="let event of eventList" (click)="redirect(event.eventType)" style="cursor:pointer">
          <i class="icon-warning-empty"></i> 
          <p>{{event.message}}</p>
        </li>
      </ul>
      
</div>
