@import "../../../app.component.less";

.body-settings{
    -webkit-box-shadow: 0px 1px 29px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow:    0px 1px 29px 0px rgba(0, 0, 0, 0.11);
    box-shadow:         0px 1px 29px 0px rgba(0, 0, 0, 0.11);
    background: #fbf7f7;
    margin: 5% auto;
    width: 75%;
    height: 90%;
    padding: 5%;
    @media (max-width: 991px) {
            width: 100%;
            height: 100%;
            
    }
    .message-thanks {
        width: 75%;
        display: block;
        margin: 20% auto;
        h2 {
            font-size: 2.25rem;
            font-weight: bold;
            text-align: center;
            margin: 5px 0;
            color: @happyColor;
            @media (max-width: 991px) {
                font-size: 1.125rem;
            }
        }
        h3 {
            text-align: left;
            font-weight: 600;
            text-align: center;
            font-size:1.5rem;
            margin: 5px 0;
            color: #c0c0c0;
            @media (max-width: 991px) {
                font-size: 1rem;
            }
            a {
                color: @defaultColor;
            }
        }
    }
}