<div class="body-table">
    <form materialize class="col s12 formCrud" >
        <div class="boxRegister">
            <img class="iconMenu" src="assets/images/register.png" alt="logo pós">
        </div>
        <div class="row">
            <div class="input-field col s12 l4">
                <input id="nameProduct" [(ngModel)]="product.name"  [ngModelOptions]="{standalone: true}" type="text" class="validate">
                <label for="nameProduct" [ngClass]="{'': product.name == undefined || product.name == '', 'active': product.name != undefined || product.name != '' }">Nome produto</label>
            </div>
            <div class="input-field col s12 l3">
                <input id="valueProduct" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" [(ngModel)]="product.price" [ngModelOptions]="{standalone: true}" type="text" class="validate">
                <label for="valueProduct" [ngClass]="{'': product.price == 0, 'active': product.price > 0 }">Valor</label>
            </div>
            <div class="input-field mui-select col s12 l3">
                <select [(ngModel)]="product.categoryId" [ngModelOptions]="{standalone: true}" materialize="material_select" >
                <!-- <select  materialize="material_select"> -->
                    <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
                    
                </select>
                
            </div>
            <div class="input-field mui-select col s12 l2">
                <select [(ngModel)]="product.unitEnum" [ngModelOptions]="{standalone: true}" materialize="material_select" >
                    <option value="1">Unidade</option>
                    <option value="2">Quilo</option>
                </select>
                
            </div>
        </div>
        <div class="row">
            <div class="choice">
                <h2>Linha de Produção?</h2>
                <div class="switch tipoTaxa">
                    <label class="labelSwitch">
                    Não
                    <input type="checkbox" [checked]="product.isProduction" (click)="production()">
                    <span class="lever"></span>
                    Sim
                    </label>
                </div>
            </div>

            <div class="input-field col s12 l3" *ngIf="product.isProduction">
                <input id="productionTime" [(ngModel)]="product.productionTime" [ngModelOptions]="{standalone: true}" type="number" class="validate">
                <label for="valueProduct" [ngClass]="{'': product.productionTime == 0, 'active': product.productionTime > 0 }">Tempo de Preparo (minutos)</label>
            </div>
        </div>
        <!-- <div class="row">
            <div class="input-field col s12 l4">
                <div class="file-field input-field">
                    <div class="btn btn-upload-image">
                        <span><i class="icon-file-image"></i> Escolher imagem</span>
                        <input type="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
            </div>
            <div class="col s12 l2">

                <div class="labelInput"><strong>Ativar o produto?</strong></div>

                <input name="group1" class="with-gap" type="radio" id="test1" checked />
                <label for="test1">Sim</label>

                <input name="group1" class="with-gap" type="radio" id="test2" />
                <label for="test2">Não</label>

            </div>
            <div class="col s12 l3">
                <div class="labelInput"><strong>Escolha data Inicial</strong></div>
                <input id="dateStart" name="dateStart" [(ngModel)]="dateStart"
                materialize="pickadate"
                [materializeActions]="dateStartActions"
                [materializeParams]="[{format: 'dd/mm/yyyy'}]"
                type="text" />
            </div>
            <div class="col s12 l3">
                <div class="labelInput"><strong>Escolha data Final</strong></div>
                <input id="dateStart" name="dateStart" [(ngModel)]="dateStart"
                materialize="pickadate"
                [materializeActions]="dateStartActions"
                [materializeParams]="[{format: 'dd/mm/yyyy'}]"
                type="text" />
            </div>
        </div>-->
        <!-- <div class="row">
                <div class="col s12 l4">
                    <textarea id="textarea1" class="materialize-textarea" materialize="characterCounter" [attr.length]="maxLength" [disabled]="isDisabled?true:null"></textarea>
                    <label for="textarea1">Descrição do produto</label>
                </div>
        </div> -->
        <div class="row">
            <div class="col s12 l6">
                <button (click)="save()" class="btn waves-effect waves-light btn-large btn-save" type="submit" name="action">Salvar alterações</button>
                <a routerLink="/home/produtos" class="btn waves-effect waves-light btn-large btn-cancel" type="button" name="action">Cancelar</a>
            </div>
        </div> 
    </form>
</div>