<div class="container">
  <div class="row">
    <div class="col s2">
    </div>
    <div class="col s8">
      <div class="contentPage">
        <div class="error404">
          <div class="emojis-wrapper">
            <div class="emoji emoji1">
              <div class="mouth"></div>
            </div>
          </div>
          <h1>404</h1>
          <h3><i class="icon-dot-3"></i></h3>
          <h3>Página não encontrada</h3>
          <h4>
            Tente outros termos
          </h4>

          <a routerLink="/home/caixa" class="waves-effect waves-light btn-large btn-goHome">Voltar a página inicial</a>
        </div>
      </div>
    </div>
    <div class="col s2">
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <div class="col s2">
      </div>
      <div class="col s8">
        <div class="rodape">
            <div >
                <img src="assets/images/Meep-logo.png" width="100" alt="logo pós">
              </div>
          <p>Meep pós © {{year}} Todos os direitos reservados</p>
        </div>
      </div>
      <div class="col s2">
      </div>
    </div>
  </div>