@import "../../../app.component.less";
@import url('https://fonts.googleapis.com/css?family=Bitter');
.rodape {
    position: relative;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    p {
        color: @linkMenuHeader;
        text-align: center;
    }
    img {
        margin: 0px auto;
        display: block;
    }
}
.contentPage {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 10% 0px;
    flex-direction: column;
    align-items: center;
    .error404 {
        text-align: center;
        align-self: center;
        color: @linkMenuHeader;
        h1 {
            font-size: 11.25rem;
            font-weight: 900;
            text-shadow: -1px 0px 6px rgba(150, 150, 150, 0.44);
        }
        h3 {
            font-size: 2rem;
            font-weight: 700;
        }
        h4 {
            font-size: 1.375rem;
            font-weight: 700;
        }
        .btn-goHome {
            margin-top: 15%;
            background-color: #03a9f4;
            -webkit-box-shadow: 0px 0px 11px 0px rgba(3, 169, 244, 0.2);
            -moz-box-shadow: 0px 0px 11px 0px rgba(3, 169, 244, 0.2);
            box-shadow: 0px 0px 11px 0px rgba(3, 169, 244, 0.2);
        }
    }
}
#ajerez {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 9999;
}
#ajerez img {
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #7482A5;
    -webkit-transition: border-radius 0.2s ease-in-out;
    transition: border-radius 0.2s ease-in-out;
}
#ajerez img:hover {
    border-radius: 30%;
}
body {
    background-color: #A4D3DD;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h5 {
  font-family: 'Bitter', serif;
  font-size: 50px;
  color: #FFEB96;
  text-align: center;
}
.emojis-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 40px;
}
.emoji {
    border-radius: 50%;
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #FFEB96;
    &:hover {
        background: url('/assets/images/404.gif');
        background-size: cover;
    }
}
.emoji1:after,
.emoji1:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color: #414141;
    border-radius: 50%;
    top: 48px;
    -webkit-animation: emoji1-face-move 5s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
    animation: emoji1-face-move 5s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.emoji1:after {
    left: 30px;
}
.emoji1:before {
    left: 85px;
}
.emoji1 .mouth {
    position: absolute;
    height: 3px;
    width: 35px;
    background-color: #414141;
    border-radius: 5px;
    top: 68px;
    left: 45px;
    -webkit-animation: emoji1-face-move 5s ease-in-out infinite;
    animation: emoji1-face-move 5s ease-in-out infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
@-webkit-keyframes emoji1-eyes-blink {
    0% {
        height: 10px;
    }
    97% {
        height: 10px;
    }
    100% {
        height: 0px;
    }
}
@keyframes emoji1-eyes-blink {
    0% {
        height: 10px;
    }
    97% {
        height: 10px;
    }
    100% {
        height: 0px;
    }
}
@-webkit-keyframes emoji1-face-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    30% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    35% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    65% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    85% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    90% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes emoji1-face-move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    30% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    35% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    65% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    85% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    90% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
.emoji2:after,
.emoji2:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color: #414141;
    border-radius: 50%;
    top: 48px;
    -webkit-animation: emoji2-face-move 4s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
    animation: emoji2-face-move 4s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
}
.emoji2:after {
    left: 18px;
}
.emoji2:before {
    left: 72px;
}
.emoji2 .mouth {
    position: absolute;
    height: 22px;
    overflow: hidden;
    border-top: 4px solid #F3F3F3;
    width: 30px;
    background-color: #F7AA86;
    border-radius: 25px;
    top: 68px;
    left: 35px;
    -webkit-animation: emoji2-face-move 4s ease-in-out infinite, emoji2-mouth-move 4s ease-in-out infinite;
    animation: emoji2-face-move 4s ease-in-out infinite, emoji2-mouth-move 4s ease-in-out infinite;
}
@-webkit-keyframes emoji2-face-move {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    55% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    95% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes emoji2-face-move {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    55% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    60% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    95% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes emoji2-mouth-move {
    0% {
        height: 22px;
        border-top: 4px solid #F3F3F3;
    }
    55% {
        height: 22px;
        width: 30px;
        left: 35px;
        border-top: 4px solid #F3F3F3;
    }
    60% {
        height: 10px;
        width: 15px;
        left: 42px;
        border-top: 4px solid #FFEB96;
    }
    95% {
        height: 10px;
        width: 15px;
        left: 42px;
        border-top: 4px solid #FFEB96;
    }
    100% {
        height: 22px;
        width: 30px;
        left: 35px;
        border-top: 4px solid #F3F3F3;
    }
}
@keyframes emoji2-mouth-move {
    0% {
        height: 22px;
        border-top: 4px solid #F3F3F3;
    }
    55% {
        height: 22px;
        width: 30px;
        left: 35px;
        border-top: 4px solid #F3F3F3;
    }
    60% {
        height: 10px;
        width: 15px;
        left: 42px;
        border-top: 4px solid #FFEB96;
    }
    95% {
        height: 10px;
        width: 15px;
        left: 42px;
        border-top: 4px solid #FFEB96;
    }
    100% {
        height: 22px;
        width: 30px;
        left: 35px;
        border-top: 4px solid #F3F3F3;
    }
}
.emoji3:after,
.emoji3:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    background-color: #414141;
    border-radius: 50%;
    top: 48px;
    -webkit-animation: emoji3-face-move 0.25s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
    animation: emoji3-face-move 0.25s ease-in-out infinite, emoji1-eyes-blink 2s ease-in-out infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.emoji3:after {
    left: 18px;
}
.emoji3:before {
    left: 72px;
}
.emoji3 .mouth {
    position: absolute;
    height: 22px;
    top: 68px;
    left: 35px;
    -webkit-animation: emoji3-mouth-move 0.25s ease-in-out infinite;
    animation: emoji3-mouth-move 0.25s ease-in-out infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
.emoji3 .mouth:before,
.emoji3 .mouth:after {
    content: '';
    border-radius: 100%;
    position: absolute;
    border: 3px solid transparent;
    border-top: 3px solid #414141;
    border-left: 3px solid #414141;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
.emoji3 .mouth:before {
    height: 15px;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    left: 5px;
}
.emoji3 .mouth:after {
    height: 10px;
    width: 10px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 12px;
    left: 8px;
}
@-webkit-keyframes emoji3-face-move {
    0% {
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    100% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
}
@keyframes emoji3-face-move {
    0% {
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    100% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
}
@-webkit-keyframes emoji3-mouth-move {
    0% {
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    100% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
}
@keyframes emoji3-mouth-move {
    0% {
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    100% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
}