@import "../../../app.component.less";

.body-settings{
    -webkit-box-shadow: 0px 1px 29px 0px rgba(0, 0, 0, 0.11);
    -moz-box-shadow:    0px 1px 29px 0px rgba(0, 0, 0, 0.11);
    box-shadow:         0px 1px 29px 0px rgba(0, 0, 0, 0.11);
    background: #fbf7f7;
    margin: 5% auto;
    width: 75%;
    height: 100%;
    padding: 5%;
    form.formUserMeep {
        @media (max-width: 991px) {
            width: 100%;
            height: 100%;
        }
        float: left;
        position: relative;
        width: 85%;
        height: 100%;
        h1{
            @media (max-width: 991px) {
                font-size: 1.125rem;
                &::before{
                    display: none;
                }
            }
            color: #414141;
            font-size: 2rem;
            text-align: left;
            font-weight: 700;
            margin: 0px;
            position: relative;
            &:before{
                content: '';
                width: 69px;
                position: relative;
                height: 3px;
                background: @defaultColor;
                left: 0;
                float: left;
                top: 21px;
                margin-right: 21px;
            }
        }
        p{
            color: #9c95a7;
            position: relative;
            font-size: 1.25rem;
            left: 92px;
            strong {
                font-weight: 700;
            }
            @media (max-width: 991px) {
                left: 0;
                font-size: 0.875rem;
            }
        }
       
        .inputRegister {
            @media (max-width: 991px) {
                width: 100%;
                left: 0;
                top: 0;
            }
            width:50%;
            position: relative;
            left: 92px;
            margin-bottom: 5%;
            float: left;
            top: 25px;
            .input-field label, label{
                color: @defaultColor;
                font-size: @labelText;
                left: 0;
                a {
                    color: @defaultColor;
                    font-weight: @weightBold;
                }
            }
            [type="text"], [type="password"], [type="email"] {
                font-size: @inputText;
                background:transparent;
                color: @defaultColor;
                font-weight: @weightBold;
                border-bottom: 1px solid @defaultColor;
                box-shadow: none;
                
                &:focus{
                    border-bottom: 1px solid @defaultColor - 20%;
                    box-shadow: none;
                }        
              }
              input:-webkit-autofill,
              input:-webkit-autofill:hover,
              input:-webkit-autofill:focus,
              input:-webkit-autofill:active {
              -webkit-box-shadow: 0 0 0px 1000px #fbf7f7 inset;    
            }
            .btn-go {
                font-size: 1rem;
                text-transform: initial;
                color: @whiteColor;
                height: 65px;
                align-self: left;
                display: block;
                top: 30px;
                opacity: 1;
                margin: 0;
                width: 70%;
                background-color: @defaultColor;
                transition: background-color 300ms linear;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    @media (max-width: 991px) {
            width: 100%;
            height: 100%;
            
    }
}