<div class="settings-general">
  <div class="body-settings">
    <form class="formUserMeep" id="userMeep">
      <h1>{{location.name}}</h1>
      <p>
        Endereço: {{location.address}} - {{location.city}} - {{location.state}}, {{location.zipCode}} CNPJ:{{location.cnpj}}
      </p>
      <p>
        <strong>Cadastre um usuário e senha para o seu portal.</strong>
      </p>
      <div class="inputRegister">
        <div class="input-field">
          <input id="emailLogin" [(ngModel)]="login" type="email" class="validate" name="nameLogin">
          <label for="emailLogin">Usuário</label>
        </div>
        <div class="input-field">
          <input id="passLogin" [(ngModel)]="password" type="password" class="validate" name="passLogin">
          <label for="passLogin">Senha</label>
        </div>
        <div class="input-field">
          <input id="passLogin" [(ngModel)]="passwordConfirm" type="password" class="validate" name="passLogin">
          <label for="passLogin">Repetir senha</label>
        </div>
        <div class="input-field">
          <input id="emailLogin" [(ngModel)]="email" type="email" class="validate" name="emailLogin">
          <label for="emailLogin">E-mail</label>
        </div>
        <!-- <div class="input-field">
          <input id="emailLogin" [(ngModel)]="login" type="email" class="validate" name="nameLogin">
          <label for="emailLogin">Nome</label>
        </div>
        <div class="input-field">
          <input id="emailLogin" [(ngModel)]="login" type="email" class="validate" name="nameLogin">
          <label for="emailLogin">Cpf</label>
        </div>
        <div class="input-field">
          <input id="emailLogin" [(ngModel)]="login" type="email" class="validate" name="nameLogin">
          <label for="emailLogin">Sexo</label>
        </div> -->
        <button class="btn waves-effect waves-light btn-go" name="action" (click)="save()" type="submit">Salvar <i class="icon-right-open-2"></i></button>
      </div>
    </form>
  </div>
</div>


