<div class="order-body">
    <div class="container-padding">
        <div class="number-container">
            <input id="numberInput" value={{ticketNumber}} type="text" disabled> <img src="assets/images/icon/choices.png"  width="40">
        </div>
        <div class="key-login">
            <h2>Digite o número da <span class="order">comanda</span></h2>
            <div class="playground">
                <div class="numpad">
                    <div class="button" (click)="fillNumber(7)" id="7">7</div>
                    <div class="button" (click)="fillNumber(8)" id="8">8</div>
                    <div class="button" (click)="fillNumber(9)" id="9">9</div>
                    <div class="button" (click)="fillNumber(4)" id="4">4</div>
                    <div class="button" (click)="fillNumber(5)" id="5">5</div>
                    <div class="button" (click)="fillNumber(6)" id="6">6</div>
                    <div class="button" (click)="fillNumber(1)" id="1">1</div>
                    <div class="button" (click)="fillNumber(2)" id="2">2</div>
                    <div class="button" (click)="fillNumber(3)" id="3">3</div>
                    <div class="button" (click)="fillNumber(0)" id="0">0</div>
                    <div class="button" (click)="removeNumber()" id="backscpace"><i class="icon-cancel-alt"></i></div>
                    <div class="button enter" name="action" (click)="orderList()" type="submit" id="enter">Comandar <i class="icon-right-open-big"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>