@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    font-family: 'Segoe UI';
    font-size: 100%;
    background: url('/assets/images/background.jpg') 0px 0px repeat;
    background-size: cover;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

@page {
    size: portrait;
    /* auto is the initial value */
    margin: 1cm;
    padding: 0;
    /* this affects the margin in the printer settings */
}

html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

 :focus {
    outline: none;
    border: none;
    box-shadow: none;
}

p {
    margin: 0px;
    padding: 0px;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

 :hover {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 1em 40px;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],

/* 1 */

input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

.mat-ink-bar {
    display: none!important;
}

.fullComponent {
    width: 100%;
    position: relative;
    height: 100%;
    min-height: 100%;
    padding: 1%;
}

.leftList {
    width: 40%;
    position: relative;
    float: left;
    background: #fff;
    border-radius: 4px;
    height: 100%;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.rightList {
    width: 60%;
    float: left;
    height: 100%;
    position: relative;
    padding: 0px 1%;
}

.tab-desktop {
    float: left;
    width: 100%;
    position: relative;
    height: 100%;
}


/* Responsivo*/

@media screen and (min-width: 992px) {
    .tab-app {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .leftList,
    .rightList {
        width: 50%;
    }
}

@media screen and (max-width: 991px) {
    .tab-desktop {
        display: none;
    }
    .fullComponent {
        padding: 2%;
    }
    .tab-app {
        width: 100%;
        height: 100%;
        float: left;
        max-height: 100%;
    }
    .leftList,
    .rightList {
        width: 100%;
        margin-bottom: 0px;
    }
    /* Tabs */
    .tabs {
        width: 100%;
        float: left;
        list-style: none;
        position: relative;
        margin: 0px 0 0 0px;
        text-align: left;
        padding: 0px;
        height: 100%;
    }
    .tabs li {
        float: left;
        display: block;
        width: 50%;
    }
    .tabs input[type="radio"] {
        position: absolute;
        top: 0;
        left: -9999px;
    }
    .tabs label {
        display: block;
        padding: 14px;
        border-radius: 0;
        font-size: 1.5rem;
        font-weight: normal;
        text-transform: uppercase;
        text-transform: initial;
        opacity: 0.6;
        background: #ffffff;
        cursor: pointer;
        position: relative;
        top: 0;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
    .tabs label:hover {
        background: #C3C1C4;
    }
    .tabs .tab-content {
        z-index: 2;
        display: none;
        overflow: hidden;
        width: 100%;
        font-size: 17px;
        line-height: 25px;
        padding: 25px 0 0;
        position: absolute;
        top: 7%;
        left: 0;
        background: transparent;
    }
    .tabs [id^="tab"]:checked+label {
        top: 0;
        height: 60px;
        opacity: 1;
        padding: 0px;
        background: #fff;
        text-transform: initial;
    }
    .tabs [id^="tab"]:checked~[id^="tab-content"] {
        display: block;
    }
}

/* Login e Coamanda*/

.container-padding {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10% 0;
    color: #1488df;
    font-size: 2.5rem;
}

.number-container img {
    margin-top: 20px;
}

.number-container input {
    height: 70px;
    border-radius: 2px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.55);
    width: 50%;
    margin: 0px 4%;
    color: #1488df;
    padding: 0px 10px;
    border: none;
    display: block;
    font-size: 2.5rem;
    float: left;
    text-align: center;
}

.number-container {
    padding: 13% 0;
}

.number-container,
.key-login {
    width: 50%;
    float: left;
    height: 100%;
    min-height: 100%;
}

.category-component .mat-tab-labels {
    background-color: #fff!important;
}

.category-component .mat-tab-label {
    text-align: left;
    color: #686d85;
    font-weight: 400;
    font-size: 1rem;
    height: 60px;
    justify-content: left;
    height: 80px;
}

.category-component .mat-tab-group {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
    max-height: 85%;
}

.category-component .mat-tab-header-pagination {
    min-width: 57px;
}

.category-component .mat-tab-header-pagination-chevron {
    color: #f25c1f;
    height: 12px;
    width: 12px;
}

.category-component .mat-tab-label:hover {
    color: #f25c1f;
}

.category-component .mat-tab-label-active {
    border-bottom: 7px solid #f25c1f;
    background: #ebebeb;
    text-align: left;
}

.category-component .mat-tab-header {
    background: #fff;
    height: 80px;
    z-index: 1000;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.category-component .mat-tab-body-content {
    height: 100%;
    overflow: visible;
}

.key-login h2 {
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    margin: 0px;
}

.key-login h2 .order {
    color: #df3e3e;
}

.key-login h2 .password {
    color: #17C7B8;
}


/* Keypad*/

.key-login .numpad {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.numpad #enter {
    background-color: #1488df;
    color: #fff;
}

.numpad .button {
    display: -webkit-box;
    display: -ms-flexbox;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 33.3333%;
    flex: 1 0 33.3333%;
    background-color: #ffffff;
    color: #1488df;
    border: 1px solid rgba(158, 158, 158, 0.15);
}

.numpad .button:nth-of-type(10) {
    -ms-flex-preferred-size: 66.6667%;
    flex-basis: 66.6667%;
}

.numpad .button:focus {
    -moz-box-shadow: inset 0 0 6px #1488df;
    -webkit-box-shadow: inset 0 0 6px #1488df;
    box-shadow: inset 0 0 6px #1488df;
}

.numpad #backscpace {
    background-color: #f8f8f8;
    font-size: 1.625rem;
}

.playground {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
}

.general {
    position: fixed;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    padding: 0 20px;
    background-color: white;
}

.general a {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-family: "source-code-pro";
    font-size: .8rem;
    text-decoration: none;
    color: #c9c9c9;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
}

.general a:hover {
    color: #000000;
}

.general a:last-of-type {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media screen and (min-width: 1441px) {
    .keypad {
        width: 50%;
    }
    .key-login .backspace {
        width: 65%;
    }
}

@media screen and (min-width: 1600px) {
    .key-login .numpad {
        width: 600px;
    }
}

@media screen and (max-width: 1599px) {
    .key-login .numpad {
        width: 450px;
    }
}


/* responsive*/

@media screen and (max-width: 991px) {
    body {
        background-repeat: repeat;
    }
    .category-component .mat-tab-label {
        cursor: move;
    }
    .number-container,
    .key-login {
        width: 100%;
    }
    .number-container {
        height: auto;
        min-height: auto;
    }
    .key-login {
        height: 100%;
        min-height: 100%;
        padding: 2%;
    }
    .number-container input {
        width: 80%;
        margin: 0px 30px;
        padding: 0px;
        float: left;
    }
    .category-component .mat-tab-group {
        display: flex;
        flex-direction: column;
        overflow: visible;
        height: 100%;
        max-height: 85%;
    }
}

@media screen and (max-width: 640px) {
    .container-padding {
        padding: 0;
        margin-top: 10%;
    }
    .number-container {
        padding: 5% 0 0;
    }
    .number-container input {
        font-size: 1.5rem;
    }
    .number-container img {
        display: none;
    }
    .category-component .mat-tab-group {
        height: 350px;
        max-height: 350px;
        overflow-y: scroll;
    }
    #body-current .swal2-modal .swal2-title {
        font: 1.125rem!important;
    }
}

@media screen and (min-width: 991px) {
    .key-login .numpad {
        width: 500px;
        padding: 1%;
        height: 500px;
    }
}

@media screen and (min-width: 381px) {
    .key-login .numpad {
        padding: 1%;
        height: 500px;
    }
}

@media screen and (max-width: 380px) {
    .key-login .numpad {
        width: 450px;
        padding: 1%;
        height: 360px;
    }
    .key-login h2 {
        font-size: 1.375rem;
        margin: 0px;
    }
    .numpad #backscpace {
        background-color: #F3F3F3;
        font-size: 1.125rem;
    }
    .numpad .button {
        font-size: 0.9375rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 340px) {
    .number-container input {
        height: 50px;
    }
    .category-component .mat-tab-group {
        height: 370px;
        max-height: 370px;
        overflow-y: scroll;
    }
}