<div class="percentage-input">
  <input id="value" [textMask]="{mask: mask}" [(ngModel)]="percentage" (ngModelChange)="formatQuantity()" [ngModelOptions]="{standalone: true}" type="text" class="validate percentage-input">
  <label for="value" [ngClass]="{'': percentage == undefined, 'active': percentage != undefined}">Valor da comissão</label>
</div>