<div class="body-table">
    <form materialize class="col s12 formCrud">
        <div class="boxRegister">
            <img class="iconMenu" src="assets/images/register.png" alt="logo pós">
        </div>
        <div class="row">
            <div class="input-field col s12 l4">
                <input id="nameUser" [(ngModel)]="user.Name" [ngModelOptions]="{standalone: true}" type="text" class="validate">
                <label for="nameUser" [ngClass]="{'': user.Name == undefined || user.Name == '', 'active': user.Name != undefined || user.Name != '' }">Nome do usuário</label>
            </div>
            <div class="input-field col s12 l4">
                <input CPFMask id="cpfUser" [(ngModel)]="user.Cpf" [ngModelOptions]="{standalone: true}" type="text" class="validate">
                <label for="cpfUser" [ngClass]="{'': user.Cpf == undefined || user.Cpf == '', 'active': user.Cpf != undefined || user.Cpf != '' }">CPF do usuário</label>
            </div>
            <div class="input-field col s12 l4">
                <select [(ngModel)]="user.Sex" [ngModelOptions]="{standalone: true}" materialize="material_select">
                    <option [ngValue]="1" >Masculino</option>
                    <option [ngValue]="2" >Feminino</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 l4">
                <input id="emailUser" [(ngModel)]="user.Email" [ngModelOptions]="{standalone: true}" type="email" class="validate" required>
                <label for="emailUser" [ngClass]="{'': user.Email == undefined || user.Email == '', 'active': user.Email != undefined || user.Email != '' }">Email do usuário</label>
            </div>
            <div class="input-field col s12 l4">
                    <input id="loginUser" [(ngModel)]="user.Login" [ngModelOptions]="{standalone: true}" type="text" class="validate">
                    <label for="loginUser" [ngClass]="{'': user.Login == undefined || user.Login == '', 'active': user.Login != undefined || user.Login != '' }">Login</label>
            </div>
            <div class="input-field col s12 l4">
                <input id="passwordUser" [(ngModel)]="user.Password" [ngModelOptions]="{standalone: true}" type="password" class="validate">
                <label for="passwordUser" [ngClass]="{'': user.Password == undefined || user.Password == '', 'active': user.Password != undefined || user.Password != '' }">Senha</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <button (click)="save()" class="btn waves-effect waves-light btn-large btn-save" type="submit" name="action">Salvar alterações</button>
                <a routerLink="/home/usuario" class="btn waves-effect waves-light btn-large btn-cancel" type="button" name="action">Cancelar</a>
            </div>
        </div>
    </form>
</div>