<div class="row">
    <div class="breadcrumb-total">
        <div class="col s12 l6">
            <div class="titlePage">
                <h1>Produtos</h1>
            </div>
        </div>
        <div class="col s12 l6">
            <!-- <form class="searchCrud">
                <input type="search" placeholder="Busca...">
            </form> -->
        </div>
    </div>

</div>
<div class="row">
    <div class="col s12 l9">
    </div>
    <div class="col s12 l3">
        <h2 class="newCrud">Novo produto
            <a routerLink="novo">
                <img width="30" src="assets/images/plus.png">
            </a>
        </h2>

    </div>
</div>
<div class="row">
    <div class="col s12 l12">
        
        <div class="body-table">
            <div class="generalTable">
                <table class="striped">
                    <thead>
                        <tr>
                            <th class="text-left">Produto</th>
                            <th class="text-left">Categoria</th>
                            <th class="text-right">Valor</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Desativar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div class="loading-crud" *ngIf="loading"> Carregando</div>
                        <tr *ngFor="let product of products">
                            <input type=hidden value= {{product.id}}>
                            <td class="text-left">{{product.name}}</td>
                            <td class="text-left">{{product.categoryName}}</td>
                            <td class="text-right">{{product.price | currency:'BRL':true}}</td>
                            <td class="text-center">
                                <a [routerLink]="[product.id]" class="btn btn-edit">
                                    <i class="icon-edit"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <div class="switch"  [ngClass]="disable">
                                    <label class="labelSwitch">
                                    Inativo
                                    <input type="checkbox" [checked]="product.isActive" (click)="updateProduct(product)">
                                    <span class="lever"></span>
                                    Ativo
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <!-- <tr >
                            
                            <td class="text-left">Stella</td>
                            <td class="text-left">Cerveja</td>
                            <td class="text-right">R$ 7.5</td>
                            <td class="text-center">
                                <a  class="btn btn-edit">
                                    <i class="icon-edit"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <button class="btn btn-delete" (click)='delete()'>
                                    <i class="icon-trash-8"></i>
                                </button>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>