<!-- <modal id="settings-modal">
    <div class="modal">
        <div class="modal-body">
            <!-- <h1>Configurações</h1>
            <p>
                Home page text: <input type="text" [(ngModel)]="bodyText" />
            </p>
            <button (click)="closeModal('custom-modal-1');">Close</button>
        </div>
    </div>
    <div class="modal-background"></div>
</modal> -->
