@import "../../../app.component.less";
.breadcrumb-total {
    width: 100%;
    position: relative;
    float: left;
    margin: 1% 0;
}
.titlePage{
    h1{
        color: @linkMenuHeader;
        font-size: 1.375rem;
        border-bottom: 4px solid @orangeDefault;
        padding-bottom: 20px;
        margin: 0px;
        display: table;
       
    }   
    @media (max-width: 991px) {
        margin-bottom: 15px;
      } 
  }
  .searchCrud {
    @media (max-width: 1440px) {
        width: 70%;
        right: 0%;
    }
    
    @media (max-width: 991px) {
      width: 100%;
      right: 0px;
      top: auto;
      left: 0px;
      position: relative;
    }
    position: relative;
    width: 45%;
    float: right;
    top: 0;
    border-radius: 30px;
    right: 0;
    background-color: #fff;
    padding: 10px 27px;
    -webkit-box-shadow: 0px 5px 9px 0px rgba(50, 50, 50, 0.07);
    -moz-box-shadow:    0px 5px 9px 0px rgba(50, 50, 50, 0.07);
    box-shadow:         0px 5px 9px 0px rgba(50, 50, 50, 0.07);
    input{
        border: none;
        color: #999999;
        font-style: italic;
        height: 33px;
        margin: 0px 0 0px 0;
        &:focus {
            box-shadow: none;
            border: none;
        }
    }
  }