<div class="row">
  <div class="breadcrumb-total">
      <div class="col s12 l6">
          <div class="titlePage">
            <h1>Meep</h1>
          </div>
        </div>
        <div class="col s12 l6">
          <form class="searchCrud">
            <input type="search" placeholder="Busca...">
          </form>
        </div>
  </div>
  
</div>