<div>
  <button type="button" name="Credit" (click)="paymentType(1)">Crédito</button>
  <button type="button" name="Debit" (click)="paymentType(2)">Crédito</button>
  <button type="button" name="Money" (click)="paymentType(3)">Crédito</button>
</div>
