<div class="meepUi-container">
    <div class="login-logo">
        <div class="logo-image">
            <img src="assets/images/Meep-logo.png" alt="logo pós">
        </div>
    </div>
    <div class="login-form">
        <div class="form-content">
            <form >
                <div class="input-field col s12">
                    <input id="emailLogin" type="email" class="validate" [(ngModel)]="user.nameLogin" name="nameLogin" >
                    <label for="emailLogin" [ngClass]="{'': user.nameLogin == undefined || user.nameLogin == '', 'active': user.nameLogin != undefined || user.nameLogin != '' }">Login</label>
                </div>
                <div class="input-field col s12">
                    <input id="passLogin" type="password" (keyup.enter)="signIn()"  class="validate"  [(ngModel)]="user.passwordLogin" name="passLogin" >
                    <label for="passLogin"  [ngClass]="{'': user.passwordLogin == undefined || user.passwordLogin == '', 'active': user.passwordLogin != undefined || user.passwordLogin != '' }">Senha</label>
                    <!-- <button class="right btn-password" ><i class="icon-eye"></i></button> -->
                </div>
                <!-- <label class="right"><a href="">Esqueceu a senha?</a></label> -->
                <button class="btn waves-effect waves-light btn-go" name="action" 
                    (click)="signIn()" type="submit" >Login <i class="icon-right-open-2"></i>
                </button>
            </form>
        </div>
    </div>
</div>