@import "../../app.component.less";
.login-logo, .login-form {
    display: flex;
}

.login-logo {    
    flex: 40em; 
    order:1;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 7px 0px 7px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    7px 0px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow:         7px 0px 7px 0px rgba(0, 0, 0, 0.25);
    .logo-image{
        max-width: 433px;
        position: relative;
        align-self: center;
        img {
            width: 100%;
            max-width: 100%;
        }
    }
    

    @media (max-width: 991px) {
        display: none;
    }
}
.login-form {
    background-color: @defaultColor;
    order:2;
    flex: 5em; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: flex-basis 500ms ease-in-out;
   
    &:hover{
        flex-basis: 20em;
    }
    @media (max-width: 1440px) {
        flex: 30em; 
    }
    @media (max-width: 1024px) {
        flex: 35em; 
    }
}
.form-content {
    @media (max-width: 991px) {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        padding: 0px 30px;
    }

    width: 433px;
    position: relative;    
    align-self: center;
    .input-field label, label{
        color: @whiteColor;
        font-size: @labelText;
        left: 0;
        a {
            color: @whiteColor;
            font-weight: @weightBold;
        }
    }
    [type="text"], [type="password"], [type="email"] {
        font-size: @inputText;
        color: @whiteColor;
        font-weight: @weightBold;
        border-bottom: 1px solid @whiteColor;
        box-shadow: none;
        &:focus{
            border-bottom: 1px solid @whiteColor - 20%;
            box-shadow: none;
        }        
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0px 1000px @defaultColor inset;    
    }
    .btn-go {
        font-size: 1.375rem;
        text-transform: initial;
        color: @defaultColor;
        height: 65px;
        align-self: center;
        display: block;
        top: 70px;
        margin: 0px auto;
        width: 70%;
        background-color: @whiteColor;
        transition: background-color 300ms linear;
        &:hover {
            background-color: rgba(255, 255, 255, 0.85);
        }
    }
    .btn-password{
        position: absolute;
        right: 0px;
        bottom: 30px;
        background-color: transparent;
        border: none;
        font-size: 1.375rem;
        color: @whiteColor;
    }
    
      
}